.flex {
  display: flex;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--v-Center {
  align-items: center;
}

.flex--h-center {
  justify-content: center;
}
