:root {
  --title-font-size: 24px;
  --title-font-weight: 800;
  --subtitle-font-size: 20px;
  --subtitle-font-weight: 600;
  --body-font-size: 15px;
  --caption-font-size: 14px;
  --caption-font-weight: bold;

  --white: #ffffff;
  --gray-1: #fcfcfd;
  --gray-2: #b4b4b4;
  --gray-3: #8b8b8b;
  --black: #000000;
  --backdrop-bg-color: rgba(0, 0, 0, 0.5);
  --divider-border-color: #d4d4d4;

  --primary-blue: #4e5ba6;
  --dark-blue-1: #313d87;
  --dark-blue-2: #414d94;
  --dark-red: #b31919;

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;
  --spacing-4: 32px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: var(--body-font-size);
  box-sizing: border-box;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background: var(--primary-blue);
}

h2 {
  padding: var(--spacing-3);
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
}

header h2 {
  padding: var(--spacing-3);
  padding-left: 100px;
  color: var(--white);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  position: relative;
  width: 420px;
  padding: var(--spacing-3);
  border: 1px solid var(--divider-border-color);
  border-radius: var(--spacing-1);
}

.game-container h2 {
  margin-bottom: var(--spacing-4);
  text-align: center;
}

label {
  display: block;
  margin-bottom: var(--spacing-2);
}

input[type='text'] {
  padding: var(--spacing-2);
  border: 1px solid var(--gray-2);
  border-radius: var(--spacing-1);
  outline: 0;
}

input[type='text']::placeholder {
  color: var(--gray-3);
  opacity: 1;
}

input[type='text']:focus {
  border: 1px solid #97cee5;
  box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
}

button {
  padding: var(--spacing-2);
  background: var(--primary-blue);
  color: var(--white);
  border: 1px solid var(--primary-blue);
  border-radius: var(--spacing-1);
  outline: 0;
  cursor: pointer;
}

button:hover {
  background: var(--dark-blue-2);
  border-color: var(--dark-blue-1);
}

button:active {
  background: var(--dark-blue-1);
}

#purchase-form {
  margin-bottom: var(--spacing-3);
}

#purchase-form div {
  width: 100%;
  display: flex;
  gap: var(--spacing-2);
}

#purchase-input {
  flex-grow: 1;
}

.error-message {
  margin-top: var(--spacing-2);
  height: 17.5px;
  font-size: var(--caption-font-size);
  color: var(--dark-red);
  opacity: 0;
}

.error-input:focus {
  border: 1px solid #e59797 !important;
  box-shadow: 0 0 0 3px rgba(253, 131, 131, 0.5) !important;
}

#user-lotto-purchase {
  height: 18px;
}

.user-lotto-container {
  height: 284px;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-4);
  overflow-y: scroll;
}

.user-lotto {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.lotto-icon {
  font-size: var(--title-font-size);
}

footer {
  bottom: 0;
  border-top: 1px solid var(--divider-border-color);
}

footer p {
  padding: var(--spacing-4);
  font-size: var(--caption-font-size);
  font-weight: var(--caption-font-weight);
  color: var(--primary-blue);
  text-align: center;
}