.header {
  width: 100%;
  height: 64px;
  background-color: var(--color-lotto-primary);
  position: absolute;
  top: 0;
  display: flex;
  padding-left: 130px;
}

.header h1 {
  font-weight: var(--text-title-weight);
  font-size: var(--text-title-size);
  line-height: var(--text-title-line-height);
  letter-spacing: var(--text-title-letter-spacing);
  color: var(--color-lotto-greyscale-1);
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--text-caption-weight);
  font-size: var(--text-caption-size);
  line-height: var(--text-caption-line-height);
  letter-spacing: var(--text-caption-letter-spacing);
  color: var(--color-lotto-primary);
  position: absolute;
  bottom: 0;
  border-top: 1px solid #4e5ba633;
}
