.main-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  width: 414px;
  height: 727px;
  top: 148px;
  left: 513px;
  border: 1px solid #0000001f;
  border-radius: 4px;
  background-color: var(--lotto-greyscale-1);
}

.main-contents div {
  width: 382px;
}

.title {
  display: flex;
  justify-content: space-between;
  color: var(--lotto-greyscale-5);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input div {
  display: flex;
  justify-content: space-between;
}

.input input {
  display: flex;
  width: 310px;
  height: 36px;
  gap: 10px;
  padding: 8px 8px 0px;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 4px;
}

.input button {
  width: 56px;
  border-radius: 4px;
  padding: 6px 6px 6px 8px;
  text-align: center;
  background-color: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
}

.lotto-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lotto-container_lotto {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: var(--lotto-greyscale-5);
}
