.dialog {
  width: 350px;
  height: 500px;
  background-color: var(--lotto-greyscale-1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  outline: none;
}

.dialog[open] {
  display: flex;
  /* showModal() 실행되면 보이도록 설정 */
}

dialog::backdrop {
  background-color: #00000080;
}

.dialog-container {
  width: 100%;
}

.close-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.winning-rate-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.dialog table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.dialog th,
td {
  width: 120px;
  height: 40px;
  text-align: center;
  border: 1px solid #0000001F;
  ;
  border-left: none;
  border-right: none;

  vertical-align: top;
  vertical-align: bottom;
  vertical-align: middle;
}

.dialog th {
  font-family: var(--font-family);
  font-weight: var(--subtitle-weight);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-spacing);
}

.dialog td {
  font-family: var(--font-family);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-spacing);
  color: var(--lotto-greyscale-5);
}

.winning-rate-result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--caption-weight);
  letter-spacing: var(--body-spacing);
  color: var(--lotto-greyscale-5);
  margin: 30px 0 30px 0;
}

.restart-btn {
  width: 100%;
  height: 36px;
  background-color: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
  border: none;
  border-radius: 4px;
  padding: 6px 6px 6px 8px;
  cursor: pointer;
}