#app {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}

footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 80px;

  background-color: var(--lotto-grayscale-1);
  color: var(--lotto-primary);

  border-top: 1px solid;
  border-color: var(--lotto-grayscale-2);
}

input {
  padding: 10px;
}

li + li {
  margin-top: 12px;
}

.lotto-header {
  width: 100%;
  height: 4rem;

  background-color: var(--lotto-primary);
  color: var(--lotto-grayscale-1);
}

.lotto-card {
  width: 25rem;
  height: 800px;

  border: 1px solid;
  border-color: var(--lotto-grayscale-3);
}

.lotto-card__title {
  width: 100%;
  height: 24px;
}

.lotto-card__money--input {
  display: block;
  width: 100%;
  height: 28px;
  border: 1px solid;
  border-color: var(--lotto-grayscale-2);

  margin-right: 0.5rem;
  border-radius: 4px;
}

.button {
  display: block;
  background-color: var(--lotto-primary);

  width: 56px;
  height: 28px;

  color: var(--lotto-grayscale-1);
  border-radius: 4px;
}

.lotto-ticket {
  width: 100%;
  vertical-align: middle;
}

.lotto-tickets {
  overflow: scroll;
  height: 50%;
}

.lotto-ticket::before {
  content: '🎟️';

  font-size: 28px;
  line-height: 24px;
  vertical-align: middle;

  margin-right: 8px;
}

.lotto-card__winning--text {
  display: block;
}

.lotto-card__lotto--input {
  display: block;

  width: 34px;
  height: 36px;

  border: 1px solid;
  border-color: var(--lotto-grayscale-3);
  border-radius: 4px;
}

.winningNumbers + .winningNumbers {
  margin-left: 4px;
}

.bonusNumber {
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

.modal {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal > div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.statistics-container {
  width: 350px;
  background-color: var(--lotto-grayscale-1);
}

.statistics-list__item {
  height: 30px;
}

.statistics-list__item__one {
  width: 100px;
  height: 100%;
}

.statistics-list__item + .statistics-list__item {
  border-top: 1px solid;
  border-color: var(--lotto-grayscale-4);
}

.text--center {
  text-align: center;
}
