* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  background-color: #f5f5f5;
}

header {
  background-color: #4e5ba6;
  color: #ffffff;
  position: absolute;
  width: 100vw;
}

header h1 {
  margin-left: 130px;
  margin-top: 14px;
  margin-bottom: 14px;
}

footer {
  border-top: 1px solid rgba(78, 91, 166, 0.2);
  width: 100vw;
  bottom: 0;
  padding: 32px;
  position: absolute;
  text-align: center;
  background-color: #f5f5f5;

  color: #4e5ba6;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

button {
  background: #4e5ba6;
  border-radius: 4px;
  color: #ffffff;
  border: 0px;
}

input {
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.lottoGame {
  width: 414px;
  height: 727px;
  margin-top: 148px;
  margin-bottom: 148px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.lottoGame h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.purchaseLotto {
  margin-top: 28px;
  padding-left: 16px;
  padding-right: 16px;
}

.purchaseLotto div {
  margin-top: 4px;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.purchaseLotto div input {
  width: 310px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.purchaseLotto div button {
  width: 56px;
}
