:root {
  --main-blue-color: #4e5ba6;
  --white-color: #ffffff;
  --gray-color: #808080;
  --balck-color: #000000;

  --input-font-size: 1.5rem;
  --input-font-weight: 400;
  --input-line-height: 2.4rem;

  --result-font-weight: 700;

  --title-font-size: 2.4rem;
  --title-font-weight: 800;
  --title-line-height: 3.6rem;

  --button-font-size: 1.4rem;
  --button-font-weight: 700;
  --button-line-height: 1.6rem;
}
