.header {
  background: var(--color-primary);
  padding: 0 130px;
  height: 64px;
  display: flex;
  align-items: center;
}

.title {
  font-weight: var(--font-title-weight);
  font-size: var(--font-title-size);
  color: var(--color-greyscale-1);
}

@media (width <= 414px) {
  .header {
    padding: 0;
    justify-content: center;
  }
}
