#modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 99;
}

#modal-container > main {
  padding: 16px;
  width: 350px;
  height: 500px;
  background-color: var(--lotto-greyscale-1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#close-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#close-btn-text {
  font-size: 20px;
  font-weight: 700;
}

#close-btn {
  background-color: var(--lotto-greyscale-1);
}

#close-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

#statistics-title-container {
  width: 100%;
  height: 24px;
  margin-top: 8px;
}

#statistics-container {
  width: 100%;
}

#statistics {
  width: 100%;
  text-align: center;
  line-height: 24px;
  margin-top: 33px;
}

#statistics th,
td {
  padding: 8px 0;
}

#statistics thead {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#statistics tr {
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#statistics td {
  font-size: 15px;
  font-weight: 400;
}

#statistics th {
  font-size: 15px;
  font-weight: 600;
}

#profit-container {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0px;
}

#profit {
  font-size: 15px;
  font-weight: 600;
}

#retry-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#retry-btn {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--lotto-greyscale-1);
  background-color: var(--lotto-primary);
  padding: 4px 0;
  height: 36px;
  border-radius: 4px;
}

#retry-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
