.ui-list {
  padding: 0;
  margin: 0 0 24px 0;
}

.ui-list li {
  margin: 0;
  margin-top: 4px;
  list-style: none;
  padding: 0;
}

.ui-list li:first-child {
  margin-top: 0;
  font-size: var(--typo-body-font-size);
  font-weight: var(--typo-body-font-weight);
  line-height: var(--typo-body-line-height);
	letter-spacing: var(--typo-body-letter-spacing);
}