.modal_background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close_button {
  width: 0.875rem;
  height: 0.875rem;
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  margin: 0 0.125rem 0 0;
}

.result__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.result__table_tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.result_table th,
.result_table td {
  padding: 10px; /* 셀 안의 내용과 경계선 사이의 간격을 조절합니다. */
}

.reward_table__data {
}
