@import 'modules/input.css';
@import 'modules/paper.css';
@import 'modules/selector.css';
@import 'modules/switch.css';
@import 'modules/lotto-list.css';
@import 'modules/modal.css';
@import 'modules/table.css';
