#purchaseSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-basis: 18%;
}

#purchaseLottoForm {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
}

#purchaseInput {
    display: flex;
    flex-basis: 85%;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid var(--grey-scale-3);
}

#purchaseButton {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#purchaseResultSection { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 47%;
    overflow-y: scroll;
}

#purchaseError {
    color: red;
    font-size: 14px;
}