.input-lottos-instruction {
  margin-top: 1.875rem;
}

.input-lottos {
  display: flex;
  justify-content: space-between;
  margin-top: 0.625rem;

  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.0313rem;
  text-align: left;
}

.input-winning-lottos,
.input-bonus-lotto {
  width: 2.125rem;
  height: 2.25rem;

  text-align: center;
}

.lotto {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.bonus-lotto {
  display: flex;
  align-items: flex-end;
}

.check-result-button {
  width: 25rem;
  padding: 0.625rem;
  margin-top: 2.3rem;
}
