{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "printWidth": 100
      }
    ],
    "max-depth": ["error", 1],
    "no-new": "off",
    "no-alert": "off",
    "import/extensions": "off",
    "max-lines-per-function": ["error", 25]
  },
  "ignorePatterns": ["*test.js", "template.js"]
}
