:root {
    --lotto-primary: #4E5BA6;
    --grey-scale-1: #FFFFFF;
    --grey-scale-2: #FCFCFD;
    --grey-scale-3: #B4B4B4;
    --grey-scale-4: #8B8B8B;
    --grey-scale-5: #000000;
}

* {
    margin: 0;
    font-family: 'Roboto';
}

.title {
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.buttonText {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#header {
    padding: 10px;
    background-color: var(--lotto-primary); 
    color: var(--grey-scale-1);
}