* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lotto-primary: #4e5ba6;
  --lotto-greyscale-1: #ffffff;
  --lotto-greyscale-2: #fcfcfd;
  --lotto-greyscale-3: #b4b4b4;
  --lotto-greyscale-4: #8b8b8b;
  --lotto-greyscale-5: #000000;

  --bg-default-color: #fbfbfd;
  --border-default-color: #e4e4e4;

  --default-padding: 16px;
}

body {
  background-color: var(--bg-default-color);
  font-family: Roboto, sans-serif;
}

h2 {
  margin: calc(40px - var(--default-padding)) 0 40px 0;
}

#main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-default-color);
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background-color: var(--lotto-greyscale-5);
  opacity: 0.5;
}
