body {
  margin: 0;
}

.header {
  height: 64px;
  background-color: #4e5ba6;
  align-items: center;
  padding-left: 130px;
  display: flex;
}

.header h1 {
  color: #ffffff;
  height: 36px;
  font-size: 24px;
}

.lottobox {
  border: 1px solid #b4b4b4;
  width: 414px;
  height: 712px;
  margin: 64px auto;
  background-color: white;
}

.lottobox #lotto-title {
  width: 382px;
  height: 36px;
  margin: 40px 16px 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
