.lotto-list-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 285px;
  overflow-y: scroll;
  margin-top: 8px
}

.lotto-item-container {
  display: flex;
  gap: 8px;
  align-items: center;
}
