.lotto-info-container ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 285px;
  overflow-y: scroll;
  margin-top: 8px
}

.lotto-info-container li {
  display: flex;
  gap: 8px;
  align-items: center;
}
