body {
  margin: 0;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* document title */

#document-title {
  width: 100%;
  height: 64px;
  background-color: #4e5ba6;
  display: flex;
  align-items: center;
}

#document-title > h1 {
  margin: 0 0 0 130px;
  color: #ffffff;
  font-size: 24px;
}

/* comfirmation-lotto-number-form */

#comfirmation-lotto-number-form {
  width: 382px;
  height: 686px;
  margin: 84px auto 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 52px 16px 32px;
}

#comfirmation-lotto-number-form > header {
  text-align: center;
}

#comfirmation-lotto-number-form > header > h2 {
  margin: 0;
}

/* amount */

#input-purchase-form {
  margin-top: 28px;
  font-size: 15px;
}

#input-purchase-container {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-purchase-container > input {
  padding: 0;
  width: 300px;
  height: 22px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  font-size: 15px;
  padding: 8px 0px 4px 8px;
}

#input-purchase-container > button {
  width: 56px;
  height: 36px;
  background: #4e5ba6;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
}

#amount-exception {
  margin-top: 8px;
  color: red;
}

/* lotto-list-result-form */

#lotto-list-result-form {
  margin-top: 28px;
  font-size: 15px;
}

#lotto-list-container {
  width: 382px;
  height: 308px;
  margin-top: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

#lotto-list-container > div {
  height: 36px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

#lotto-list-container > div > span {
  font-size: 34px;
  margin-right: 8px;
}

/* input-winning-number-form */

#input-winning-number-form {
  font-size: 15px;
  width: 382px;
  margin: 24px auto 0 auto;
}

#input-winning-number-form > div:nth-child(2) {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

#input-winning-number-container {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

#input-winning-number-items {
  display: flex;
  height: 36px;
}

#input-winning-number-items > input,
#input-bonus-number-items > input {
  padding: 0;
  width: 34px;
  height: 36px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  margin-right: 8px;
  text-align: center;
}

#input-bonus-number-items > input {
  margin-right: 0;
}

#input-winning-number-form button {
  margin-top: 27px;
  width: 382px;
  height: 36px;
  background: #4e5ba6;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
}

/* footer */
#footer {
  margin-top: 69px;
  width: 100%;
  height: 80px;
  border-top: 1px solid rgba(78, 91, 166, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer span {
  font-size: 14px;
  color: #4e5ba6;
  font-weight: 700;
}

/* modal */
#lotto-statistics-modal-flex-option {
  width: 318px;
  height: 500px;
  border-radius: 4px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lotto-statistics-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#lotto-statistics-modal-header-container {
  width: 318px;
  text-align: center;
}

#lotto-statistics-modal-header-container form {
  display: flex;
  justify-content: flex-end;
}

#modal-close-button {
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#lotto-statistics-modal-header {
  font-size: 20px;
  margin: 10px 0 0 0;
}

#lotto-statistics-table-container {
  margin-top: 32px;
  font-size: 15px;
}

#lotto-statistics-table {
  width: 318px;
  text-align: center;
  border-collapse: collapse;
}

#lotto-statistics-table thead,
tr,
td {
  padding: 8px 0;
}

#lotto-statistics-table thead,
tr {
  border-top: 1px solid #e0e0e0;
}

#lotto-statistics-table thead {
  font-weight: bold;
}

#lotto-statistics-table tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}

#lotto-earning-rate {
  margin-top: 32px;
  font-weight: bold;
  text-align: center;
}

#lotto-retry-form button {
  margin-top: 32px;
  width: 318px;
  height: 36px;
  background: #4e5ba6;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
}
