#modal {
  position: relative;
  visibility: hidden;
}

.modal_background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal_box {
  position: fixed;
  background: #ffffff;
  border-radius: 4px;

  width: 350px;
  height: 500px;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-175px, -250px);

  padding: 40px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  text-align: center;
  letter-spacing: 0.15px;

  color: var(--lotto-greyscale-5);
}

.winning_state {
  width: 100%;
  height: 245px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.winning_state_prop {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;

  letter-spacing: 0.5px;

  /* lotto-greyscale-5 */

  color: #000000;
}

.winning_state > div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.winning_state_row {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.winning_state_row > div {
  flex: 1;
  text-align: center;
}

.winning_state_col {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;

  /* lotto-greyscale-5 */

  color: #000000;
}

.profit_rate {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;

  text-align: center;
  letter-spacing: 0.5px;

  /* lotto-greyscale-5 */

  color: #000000;
}

.retry_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  width: 100%;
  height: 36px;

  /* lotto-primary */

  background: #4e5ba6;
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  letter-spacing: 1.25px;
  text-transform: uppercase;

  /* lotto-greyscale-1 */

  color: #ffffff;
}

.modal_close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
