.winning-numbers-and-bonus-number-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.winning-numbers-and-bonus-number-wrapper input {
  width: 34px;
}

.winning-numbers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bonus-number-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

.winning-numbers-input-wrapper {
  display: flex;
  gap: 8px;

}

.bonus-number-input-wrapper {
  display: flex;
  gap: 8px;

}
