.winning-lotto-and-bonus-number-form {
  position: absolute;
  bottom: 36px;
  left: 16px;
  right: 16px;
}

.winning-numbers-and-bonus-number-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.winning-numbers-and-bonus-number-wrapper input {
  width: 34px;
  text-align: center;
}

.winning-numbers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bonus-number-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

.winning-numbers-input-wrapper {
  display: flex;
  gap: 8px;
}

.bonus-number-input-wrapper {
  display: flex;
  gap: 8px;
}

.result-check-button {
  width: 100%;
  margin-top: 24px;
}
