.winning-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  visibility: hidden;
}

.winning-form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winning-form__submit-btn {
  margin: 15px 0 0 0;
}

.winning-form__input {
  width: 34px;
  height: 36px;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 6px;
  text-align: center;
}

.winning-form__input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.winning-form__input-group--bonus {
  align-items: end;
}

.winning-form__input-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
