#app {
  width: 414px;
  height: 727px;

  box-sizing: border-box;
  margin: 84px auto;
  padding: 32px 15px;
  border: 1px solid #0000001f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
}

#app > .title {
  width: 100%;
  height: 24px;
  top: 52px;
  left: 16px;

  text-align: center;
}
