* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-lotto-greyscale-2);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-header {
  width: 100%;
  height: 6%;

  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.app-header > .lotto-title {
  max-width: 1440px;
  color: var(--color-lotto-greyscale-1);
  opacity: 1;
  margin-left: 10vw;
}

/* footer footer  footer footer footer footer footer*/
.app-footer {
  width: 100%;
  min-height: 60px;
  opacity: 1;
  border-top: 1px solid #4e5ba633;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}

.lotto-caption {
  color: var(--color-primary);
}

/* 메인메인메인메인메인메인메인메인메인메인메인메인메인메인메인 */
.app-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-lotto-greyscale-2);
  overflow: hidden;
  padding: 20px;
}

.layout-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 414px;
  max-height: 727px;
  height: 100%;
  padding: 0 16px 20px 16px;
  background-color: var(--color-lotto-greyscale-1);
  border: 1px solid #0000001f;
  border-radius: 4px;
  overflow-y: auto;
}

.layout-container > .lotto-title {
  margin: 0 auto;
  padding-top: 20px;
  flex-shrink: 0;
}

/* 폼버튼 폼버튼 폼버튼 폼버튼 폼버튼 폼버튼 폼버튼 폼버튼 폼버튼 폼버튼 폼버튼 */
.purchase-section {
  width: 100%;
}

.purchase-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.purchase-form-label {
  display: block;
}

.purchase-layout {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.purchase-form-input {
  width: 100%;
  max-width: 310px;
}

.purchase-form-button {
  width: 56px;
  height: 36px;
}

/* 컨테이너 컨테이너컨테이너컨테이너컨테이너컨테이너컨테이너*/
.lotto-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  width: 100%;
}
.lotto-list-container {
  width: 100%;
  overflow: scroll;
  max-height: 276px;
}

.lotto-item {
  padding: 2px 0px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* bonusbonusbonusbonusbonus */

.winning-input-form {
  margin-top: 5px;
}
.winning-section {
  width: 100%;
}
.winning-numbers-container {
  width: 100%;
}
.winning-number-inputs {
  display: flex;
  width: 34px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #b4b4b4;
}

.winning-fieldset {
  border: none;
  border-radius: 4px;
  padding: 12px 0px;
}

.winning-label-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.winning-input-row {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.winning-number-input,
.bonus-number-input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.bonus-number-input {
  margin-left: auto;
}
.open-result-button {
  background-color: var(--color-primary);
  color: var(--color-lotto-greyscale-1);
  width: 100%;
  height: 36px;
  border-radius: 4px;
}

.purchased {
  justify-content: safe;
}
