/* 헤더 */
.app-header {
  background-color: var(--color-primary);
  color: var(--color-lotto-greyscale-1);
}

/* 메인 */

/* 메인의 제목 */
.lotto-title {
}
/* 메인-입력폼 */
.purchase-form-label {
  max-height: 24px;
}

.purchase-form-input {
  opacity: 1;
  border-radius: 4px;
  border: 1px solid var(--color-lotto-greyscale-3);

  padding: 8px 8px 0px;
  gap: 10px;
}
.purchase-form-button {
  width: 56px;
  height: 36px;
  border-radius: 4px;
  opacity: 1;
  padding-top: 6px 6px 8px;
  background: #4e5ba6;
  border: none;
  color: #ffffff;
}
