.lotto-dashboard {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  padding: 20px 10px;
  border-radius: 5px;
}

.lotto-header {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 40px;
}
