.prize-result-modal[open] {
  width: 350px;
  height: 500px;
  padding: var(--default-padding);

  font-size: 15px;
  line-height: 24px;
}

.prize-result-modal > h2 {
  height: 24px;

  font-weight: 700;
  font-size: 20px;
}

.prize-result-modal > h3 {
  height: 24px;
  margin: 32px 0;

  font-weight: 600;
  font-size: 110%;
}

.prize-result-modal tr {
  border-width: 1px 0;
}

.restart-button {
  font-weight: 700;
}

.close-button {
  all: unset;

  width: 14px;
  height: 14px;

  position: fixed;
  align-self: end;
}

.close-button > img {
  width: 100%;
  height: 100%;
}
