#prize-result-modal[open] {
  width: 350px;
  height: 500px;
  padding: 0 16px;

  background-color: var(--lotto-greyscale-1);
  border: none;
  border-radius: 4px;

  display: flex;
  flex-direction: column;

  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

#prize-result-modal > h2 {
  height: 24px;
  margin: 40px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 20px;
  color: var(--lotto-greyscale-5);
  letter-spacing: 0.15px;
  text-align: center;
}

#prize-result-modal > table {
  border-collapse: collapse;

  letter-spacing: 0.5px;
  text-align: center;
}

#prize-result-modal th,
#prize-result-modal td {
  padding: 8px 8px 8px 0;
}

#prize-result-modal tr {
  border: solid #d9d9d9;
  border-width: 1px 0;
}

#prize-result-modal > h3 {
  height: 24px;
  margin: 32px 0;

  font-size: 110%;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
}

#prize-result-modal > button {
  height: 36px;
  padding: 6px 6px 6px 8px;

  border: none;
  border-radius: 4px;

  background-color: var(--lotto-primary);
  font-weight: 700;
  color: var(--lotto-greyscale-1);
  letter-spacing: 0.5px;
  text-align: center;
}

#prize-result-modal > button:hover {
  filter: brightness(90%);
  cursor: pointer;
}
