:root {
  --base-font-size: 16px;

  --color-primary: #4e5ba6;
  --color-greyscale-1: #ffffff;
  --color-greyscale-2: #fcfcfd;
  --color-greyscale-3: #b4b4b4;
  --color-greyscale-4: #8b8b8b;
  --color-greyscale-5: #000000;

  --color-primary-dark: #374494;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}
