/* 구매폼 */
.purchaseBox {
  width: 100%;
  height: 40px;
  margin: 0.5rem 0;
}

#purchaseInput {
  flex: 9;
  margin-right: 1rem;
  padding: 0 0.5rem;
}

#purchaseButton {
  flex: 1;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.purchaseCountDesc {
  padding: 1rem 0;
}

.resultButton {
  height: 2.5rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: var(--color-primary);
}

/* 로또 */
.lottoContainer {
  overflow-y: scroll;
  max-height: 250px;
}

.lottoItem {
  display: flex;
  align-items: center;
}

.lottoImoji {
  font-size: 2rem;
  margin-right: 1rem;
}

/* 모달 */
dialog {
  width: 100%;
}
