.result-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.result-header {
  font-size: 18px;
  font-weight: bold;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-cols {
  font-weight: bold;
}

.divider-line {
  width: 100%;
  border: 1px solid #b4b4b4;
  margin: 10px 0;
}
