.payment {
  display: flex;
  flex-direction: column;
  margin-top: 2.8rem;
  width: 100%;
}

.lotto-money {
  display: flex;
  height: 3.6rem;
  margin-top: 0.4rem;
}

.lotto-money > * {
  height: 100%;
}

.money-input {
  width: 100%;
  padding: 0.6rem 0.8rem;
}

.purchase-button {
  width: 5.6rem;
  margin-left: 1.6rem;
}
