.random-lottos {
  max-height: 25vh;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.one-lotto {
  display: flex;
  justify-content: start;
  align-items: center;
}

.one-lotto img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
}

.purchaesd-quantity {
  font-weight: bold;
}
