<style>
  #modal-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2.06rem;
    gap: 0.63rem;
    width: 100%;
  }

  #modal-close-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-right: 1rem;
  }

  #modal-close-button {
    border: none;
    cursor: pointer;
    background-color: white;
  }
</style>

<div id="modal-title-section">
  <div id="modal-close-div">
    <button id="modal-close-button"><img src="/close-button.svg" alt="닫기"></button>
  </div>
  <span class="title-span">🏆 당첨 통계 🏆</span>
</div>