.random-lottos {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.one-lotto {
  display: flex;
  justify-content: start;
  align-items: center;
}

.one-lotto img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
}
