header {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;

  @media (max-width: 767px) {
    justify-content: center;
  }
}

.header-title {
  color: var(--greyscale-1);
  margin-left: 130px;

  @media (max-width: 767px) {
    margin: 0;
  }
}
