header {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  width: 100%;
  height: 64px;

  @media (max-width: 767px) {
    justify-content: center;
  }
}

.header-title {
  margin-left: 130px;
  color: var(--greyscale-1);

  @media (max-width: 767px) {
    margin: 0;
  }
}
