.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.footer-text {
  color: var(--main-color);
  font-size: 14px;
  font-weight: bold;
}
