@import './reset.css';

:root {
  --main-color: #4e5ba6;
  --black-color: rgba(0, 0, 0, 0.87);
  --transparent-black: rgba(0, 0, 0, 0.5);
  --light-gray-color: rgba(0, 0, 0, 0.12);
  --white-color: #ffffff;

  --typography-title-font-size: 1.5rem;
  --typography-title-font-weight: 800;
  --typography-subtitle-font-size: 1.25rem;
  --typography-subtitle-font-weight: 600;
  --typography-body-font-size: 0.9375rem;
  --typography-body-font-weight: 400;
  --typography-caption-font-size: 0.875rem;
  --typography-caption-font-weight: 700;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--black-color);
  font-family: 'Roboto';
  line-height: 1.5rem;
  overflow: hidden;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: var(--white-color);
}

header > h1 {
  padding-left: 10%;
  font-size: var(--typography-title-font-size);
  font-weight: var(--typography-title-font-weight);
}

main {
  width: 100%;
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

main > section {
  width: 22rem;
  height: 85%;
  padding: 0.875rem;
  border: 1px solid var(--main-color);
}

section > h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  font-size: var(--typography-subtitle-font-size);
  font-weight: var(--typography-subtitle-font-weight);
}

section article {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  font-size: var(--typography-body-font-size);
  font-weight: var(--typography-body-font-weight);
  line-height: normal;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
}

form input {
  width: 65%;
  height: 2rem;
}

form button {
  width: 25%;
  height: 2.25rem;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: var(--typography-caption-font-size);
  font-weight: var(--typography-caption-font-weight);
}

.hidden-form,
.hidden-modal {
  display: none;
}

.generated-lotto-container {
  height: 35%;
  display: flex;
  gap: 1rem;
  overflow-y: auto;
}

.generated-lotto-contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lotto-numbers-input-container {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: stretch;
  margin: 3% 0;
}

.winning-numbers-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.lotto-numbers-form .winning-numbers {
  display: flex;
  gap: 0.375rem;
}

.lotto-numbers-form .bonus-number-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;

  label {
    text-align: end;
  }
}

.lotto-numbers-form input {
  width: 2rem;
  height: 2rem;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-black);
}

.lotto-statistics-container {
  display: flex;
  flex-direction: column;
  width: 21.875rem;
  height: 60%;
  margin: 15% auto;
  padding: 1rem;
  background-color: var(--white-color);
  overflow-y: auto;
}

.lotto-statistics-container .close-button {
  display: flex;
  justify-content: flex-end;
}

.lotto-statistics-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
}

.lotto-statistics-contents h3 {
  font-size: var(--typography-subtitle-font-size);
  font-weight: var(--typography-subtitle-font-weight);
}

.lotto-statistics-contents table {
  width: 100%;
  margin: 10% 0;
  text-align: center;
}

.lotto-statistics-contents table th,
.lotto-statistics-contents table td {
  padding: 0.5rem;
  border: 1px solid var(--light-gray-color);
}

.lotto-statistics-contents table th {
  font-weight: var(--typography-subtitle-font-weight);
}

.lotto-statistics-contents table td {
  font-weight: var(--typography-body-font-weight);
}

.lotto-statistics-contents .text {
  font-size: var(--typography-body-font-size);
  font-weight: var(--typography-caption-font-weight);
}

.long-button {
  width: 100%;
  height: 2.25rem;
  margin-top: 3%;
  padding: 0.375rem 0.375rem 0.375rem 0.5rem;
  color: var(--white-color);
  background-color: var(--main-color);
}

footer {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--light-gray-color);
  color: var(--main-color);
  font-size: var(--typography-caption-font-size);
  font-weight: var(--typography-caption-font-weight);
}
