:root {
  --lotto-primary: #4e5ba6;
  --lotto-greyscale-1: #ffffff;
  --lotto-greyscale-2: #fcfcfd;
  --lotto-greyscale-3: #b4b4b4;
  --lotto-greyscale-4: #8b8b8b;
  --lotto-greyscale-5: #000000;
}

html {
  margin: 0;
}

body {
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

button:disabled {
  opacity: 0.7;
}

button:disabled:hover {
  cursor: pointer;
  opacity: 0.7;
}

.title {
  font: 800 24px Roboto;
}

.subtitle {
  font: 600 20px Roboto;
}

.body {
  font: 400 15px Roboto;
}

.placeholder {
  font: 400 15px Roboto;
}

.caption {
  font: 700 14px Roboto;
}

.margin-zero-auto {
  margin: 0 auto;
}

.width-hudread-32px {
  width: calc(100% - 32px);
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.top-bottom-margin-8 {
  display: inline-block;
  margin: 8px 0;
}

.lotto-header {
  display: flex;
  width: 100%;
  height: 64px;
  background: var(--lotto-primary);
  align-items: center;
}

.lotto-header > span {
  color: var(--lotto-greyscale-1);
  margin: 0 0 0 130px;
}

.lotto-section {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 414px;
  min-height: 727px;
  margin: 84px auto 64px auto;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
}

.lotto-section > div {
  width: calc(100% - 32px);
}

.lotto-title {
  text-align: center;
  margin: 40px 0 0 0;
}

.purchase-amount-container {
  margin: 28px 0 13px 0;
}
.purchase-enter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-enter-container > input {
  border: 1px solid var(--lotto-greyscale-3);
  width: 310px;
  height: 36px;
  border-radius: 4px;
}

.purchase-enter-container > button {
  border: none;
  color: var(--lotto-greyscale-1);
  background: var(--lotto-primary);
  width: 56px;
  height: 36px;
  border-radius: 4px;
}

.lotto-ticket-container {
  max-height: 288px;
  overflow: auto;
}

.lotto-ticket {
  display: flex;
  align-items: center;
}

.lotto-ticket > span {
  font: 27px Roboto;
}

.number-input {
  border: solid 1px var(--lotto-greyscale-3);
  text-align: center;
  width: 34px;
  height: 36px;
  border-radius: 4px;
}

.lotto-footer {
  display: flex;
  padding: 32px 0;
  color: var(--lotto-primary);
  width: 100%;
  border-top: solid 1px;
}

.large-button {
  display: flex;
  border: none;
  color: var(--lotto-greyscale-1);
  width: 100%;
  height: 36px;
  background: var(--lotto-primary);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

#check-result {
  margin: 27px 0 32px 0;
}

.modal {
  display: none;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 1986;
}

.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.is-active {
  display: flex;
}

.modal-content {
  display: flex;
  background: var(--lotto-greyscale-1);
  width: 350px;
  height: 500px;
  z-index: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.modal-content > div {
  display: flex;
  text-align: center;
  width: calc(100% - 32px);
  flex-direction: column;
}

.close-button-container {
  display: flex;
  margin: 16px 0 0 0;
  justify-content: end;
}

.modal-close-button {
  border: none;
  background: #ff000000;
}

.result-table {
  border-collapse: collapse;
  border-spacing: 0 10px;
}

.result-table > thead > tr {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.result-table > tbody > tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.result-end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-end-container > .subtitle {
  margin: 32px 0;
}

.warning-span {
  color: red;
}
