body {
  width: 100%;
  height: 1024px;
  margin: 0;
}

header {
  width: 100%;
  height: 64px;
  border: 0px 0px 1px 0px;
  background: rgba(78, 91, 166, 1);
  border-bottom: 1px solid rgba(78, 91, 166, 0.2);
}

header h1 {
  position: relative;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  width: 147px;
  height: 36px;
  top: 14px;
  left: 130px;
  color: rgba(255, 255, 255, 1);
}

.eightBall {
  font-weight: 700;
}

.myLottoContainer {
  position: absolute;
  width: 414px;
  height: 727px;
  top: 148px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
}

.myLottoContainer h2 {
  position: absolute;
  width: 382px;
  height: 24px;
  top: 52px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  margin: 0;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
}

.purchaseLottoField {
  position: absolute;
  width: 382px;
  height: 64px;
  top: 104px;
  left: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.purchaseLottoInputField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 310px;
  height: 64px;
  top: 104px;
  left: 16px;
  gap: 4px;
}

.purchaseLottoInputField label {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.purchaseLottoInputField input {
  box-sizing: border-box;
  width: 310px;
  height: 36px;
  padding: 8px 8px 0px 8px;
  border-radius: 4px;
  border: 1px;
  gap: 10px;
  border: 1px solid rgba(180, 180, 180, 1);
}

.purchaseLottoButton {
  width: 56px;
  height: 36px;
  top: 132px;
  left: 342px;
  padding: 6px 6px 6px 8px;
  border-radius: 4px;
  background: rgba(78, 91, 166, 1);

  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.purchaseLottoButton p {
  box-sizing: border-box;
  width: 42px;
  height: 24px;
  padding: 4px 6px 4px 6px;
  margin: 0;
}

.lotto-hidden {
  display: none;
}

.lotto-visible {
  display: block;
}

.purchaseLottoView {
  position: absolute;
  width: 310px;
  height: 24px;
  top: 196px;
  left: 16px;
  margin: 0;
}

.lottos {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 238px;
  height: 276px;
  top: 228px;
  left: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 4px 0;
  overflow: auto;
  overflow-x: hidden;
}

.lottos li {
  display: flex;
  align-items: center;
  width: 238px;
  height: 36px;
  margin: 0;
}

.admitOne {
  width: 34px;
  height: 36px;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.lotto ol li p {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 8px;
  width: 196px;
  height: 24px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.winningLotto-hidden {
  display: none;
}

.winningLotto-visible {
  display: block;
}

.winningLottoField {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 382px;
  height: 104px;
  top: 528px;
  left: 16px;
}

.winningLottoField p {
  width: 382px;
  height: 24px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin: 0;
}

.winningLottoInputField {
  display: flex;
  justify-content: space-between;
}

.winningLottoNumbersInputField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 244px;
  height: 68px;
}

.winningLottoNumbers {
  display: flex;
  justify-content: space-between;
}

.bonusNumberInputField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 76px;
  height: 68px;
}

.winningLottoNumbersInput,
.bonusNumberInput {
  box-sizing: border-box;
  width: 34px;
  height: 36px;
  border-radius: 4px;
  border: 1px;
  border: 1px solid rgba(180, 180, 180, 1);
}

.winningLotto button {
  position: absolute;
  width: 382px;
  height: 36px;
  top: 659px;
  left: 16px;
  padding: 6px 6px 6px 8px;
  border-radius: 4px;
  background: rgba(78, 91, 166, 1);
}

.winningLotto button p {
  width: 368px;
  height: 24px;
  padding: 4px 6px 4px 6px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.winningResultModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.winningResult {
  position: absolute;
  display: none;
  width: 350px;
  height: 500px;
  top: 272px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.winningResult h2 {
  position: absolute;
  width: 318px;
  height: 24px;
  top: 41px;
  left: 16px;
  text-align: center;
  margin: 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
}

.winningResultTable {
  position: absolute;
  width: 319px;
  height: 247px;
  top: 97px;
  left: 16px;
  border-collapse: collapse;
  border-spacing: 0;
}

.winningResultTable tr {
  height: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.winningResultTable thead th {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 8px 0;
}

.winningResultTable tbody td {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 8px 0;
  text-align: center;
}

.winningReturnRate {
  position: absolute;
  width: 318px;
  height: 24px;
  top: 376px;
  left: 16px;
  margin: 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.winningResult button {
  position: absolute;
  width: 318px;
  height: 36px;
  top: 432px;
  left: 16px;
  padding: 6px 6px 6px 8px;
  border-radius: 4px;
  background: rgba(78, 91, 166, 1);
}

.winningResult button p {
  position: relative;
  width: 89px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

footer {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 944px;
  border: 1px 0px 0px 0px;
  border-top: 1px solid rgba(78, 91, 166, 0.2);
}

footer p {
  position: relative;
  width: 224px;
  height: 16px;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  margin: 0;
  color: rgba(78, 91, 166, 1);
}
