.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 727px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 16px;
}

.hidden {
  display: none;
}
