.lotto-winning-info-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.lotto-number-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.lotto-number-input-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lotto-numbers-wrap {
  display: flex;
  gap: 8px;
}

.bonus-input-wrap {
  align-items: flex-end;
}

.number-input {
  height: 36px;
  width: 34px;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.5;
  background-color: var(--light-gray);
  cursor: not-allowed;
}
