.modal-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
}

.modal {
  border-radius: 4px;
  border: none;
  padding: 16px;
  height: 500px;
  width: 350px;
  background-color: white;
  /* display: none; */
}

.modal-close-button-wrap {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.modal-none {
  display: none;
}
