/* winning lotto input */
form[is='winning-lotto-form'] > p {
  margin-bottom: 1.2rem;
}

form[is='winning-lotto-form'] > .input-container {
  position: relative;

  width: 100%;

  margin-bottom: 2.7rem;

  display: flex;
  justify-content: space-between;
}

#bonus-number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lotto-number-input {
  width: 3.4rem;
  height: 3.6rem;
  display: inline-block;

  text-align: center;
}

.check-result-btn {
  width: 100%;
}

/* 반응형 */

/* 모바일 */
@media (max-width: 767px) {
  form[is='winning-lotto-form'] {
    width: 100%;
  }
}
