:root {
    --lotto-primary: #4E5BA6;
    --grey-scale-1: #FFFFFF;
    --grey-scale-2: #FCFCFD;
    --grey-scale-3: #B4B4B4;
    --grey-scale-4: #8B8B8B;
    --grey-scale-5: #000000;
    --lotto-width: 414px;
    --lotto-height: 727px;
}

* {
    margin: 0;
    font-family: 'Roboto';
}

html, body {
    height: 100%;
    background-color: var(--grey-scale-2);
    font-size: 15px;
    line-height: 24px;
}

input::placeholder {
    font-size: 15px;
    color: var(--grey-scale-4);
}

.hidden {
    visibility: hidden;
}

.title {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.buttonFont {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.button {
    border: 0;
    background-color: var(--lotto-primary);
    color: var(--grey-scale-1);
    cursor: pointer;
}

#header {
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: var(--lotto-primary);
    color: var(--grey-scale-1);
}

#main {
    display: flex;
    justify-content: center;
}

#mainLayout {
    width: var(--lotto-width);
    height: 85vh;
    display: flex;
    align-items: center;
}

#mainSection {
    width: inherit;
    height: 75vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #0000001F;
    padding: 0px 20px 30px 20px;
}

#titleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

#footer {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #4E5BA633;
}

#footerText {
    color: var(--lotto-primary);
    font-weight: bold;
}

#purchaseSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-basis: 18%;
}

#purchaseForm {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
}

#purchaseInput {
    display: flex;
    flex-basis: 85%;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid var(--grey-scale-3);
}

#purchaseButton {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#purchaseResultSection { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 47%;
    overflow-y: scroll;
}

#winningNumberSection {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    gap: 15px;
}

#lottoNumberWrapper {
    display: flex;
    justify-content: space-between;
}

#winningNumberWrapper {
    line-height: 30px;
    flex-basis: 80%;
}

#winningNumberInput {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--grey-scale-3);
    border-radius: 4px;
}

#bonusNumberWrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-basis: 20%;
    line-height: 30px;
}

#bonusNumberInput {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--grey-scale-3);
    border-radius: 4px;
}

#lottoResultButton {
    height: 36px;
    border-radius: 4px;
}

#purchaseError {
    color: red;
    font-size: 14px;
}

#lottoNumberError {
    color: red;
    font-size: 12px;
}

#lottoResultSection {
    width: 330px;
    height: 500px;
    position: absolute;
    top: 20%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-scale-1);
    box-shadow: gray 2px 2px 2px 2px;
    padding: 0px 20px 30px 20px;
    border-radius: 10px;
}
#closeButtonWrapper {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

#closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    background-color: var(--grey-scale-1);
    cursor: pointer;
    margin-top: 10px;
}

#lottoResultTitleWrapper {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

#lottoResultTable {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.table-title {
    font-weight: bold;
    border-top: 2px solid #0000001F;
}

.lotto-result-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #0000001F;
}

.lotto-result-cell {
    display: flex;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#lottoProfitWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px;
}

#profitText {
    font-weight: bold;
}

#retryButton {
    height: 5vh;
    border-radius: 4px;
}

#modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}