
#winningNumberSection {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    gap: 15px;
}

#lottoNumberForm {
    display: flex;
    justify-content: space-between;
}

#winningNumberWrapper {
    line-height: 30px;
    flex-basis: 80%;
}

#winningNumberInput {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--grey-scale-3);
    border-radius: 4px;
}

#bonusNumberWrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-basis: 20%;
    line-height: 30px;
}

#bonusNumberInput {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--grey-scale-3);
    border-radius: 4px;
}

#lottoResultButton {
    height: 36px;
    border-radius: 4px;
}

#purchaseError {
    color: red;
    font-size: 14px;
}

#lottoNumberError {
    color: red;
    font-size: 12px;
}