#titleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

#purchaseSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-basis: 18%;
}

#purchaseResultSection { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 47%;
    overflow-y: scroll;
}

#winningNumberSection {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    gap: 15px;
}

#lottoResultModal {
    width: 330px;
    height: 500px;
    position: absolute;
    top: 20%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-scale-1);
    box-shadow: gray 2px 2px 2px 2px;
    padding: 0px 20px 30px 20px;
    border-radius: 10px;
}