.lotto-game-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.first-section {
  margin-top: 40px;
}

.next-section {
  margin-bottom: 31px;
}

#lotto-title {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  color: var(--lotto-greyscale-5);
}

#buy-lotto-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 64px;
  margin-top: 28px;
  gap: 4px;
}

#buy-lotto-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

#cost-label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 24px;
}

#cost {
  border-radius: 4px;
  border: 1px solid var(--lotto-greyscale-3);
  width: 100%;
  height: 36px;
  outline: none;
  padding: 8px 8px 4px 8px;
  font-size: 15px;
  font-weight: 400;
}

#buy-btn {
  width: 56px;
  background-color: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
}

.input-error {
  margin-top: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: tomato;
  height: 24px;
  max-width: inherit;
}

#lotto-tickets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 276px;
  overflow: auto;
  margin-top: 8px;
}

#total-buy-text {
  display: flex;
  align-items: center;
  height: 24px;
  font-weight: 400;
  font-size: 15px;
}

#lotto-tickets-container > ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#lotto-tickets-container > ul > li {
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 15px;
  font-weight: 400;
}

.ticket-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  width: 34px;
  height: 36px;
  padding-top: 4px;
  margin-right: 8px;
  font-weight: 600;
}

#winning-lotto-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#winning-lotto-title {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  width: 382px;
  height: 24px;
}

.number-input {
  padding: 4px;
  width: 34px;
  height: 36px;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 4px;
  outline: none;
}

.number-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#bonus-number-container {
  align-items: flex-end;
}

.number-input-container > label {
  font-size: 15px;
  font-weight: 400;
}

#winning-numbers-input {
  display: flex;
  gap: 8px;
}

.winning-number-label {
  display: flex;
  align-items: center;
  height: 24px;
}

#winning-lotto-input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

#winning-lotto-container > form > input[type='submit'] {
  background-color: var(--lotto-primary);
  border-radius: 4px;
  width: 100%;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  color: var(--lotto-greyscale-1);
}
