:root {
  --color-lotto-primary: #4e5ba6;
  --color-grayscale-1: #ffffff;
  --color-grayscale-2: #fcfcfd;
  --color-grayscale-3: #b4b4b4;
  --color-grayscale-4: #8b8b8b;
  --color-grayscale-5: #000000;

  --font-title-size: 24px;
  --font-title-weight: 800;
  --font-subtitle-size: 20px;
  --font-subtitle-weight: 600;
  --font-body-size: 15px;
  --font-body-weight: 400;
  --font-placeholder-size: 15px;
  --font-placeholder-weight: 400;
  --font-caption-size: 14px;
  --font-caption-weight: 700;

  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  letter-spacing: 1px;
}

body.modalOpen {
  overflow-y: hidden;
}

header {
  height: 64px;
  padding-left: 130px;
  display: flex;
  align-items: center;
  background-color: var(--color-lotto-primary);
  color: var(--color-grayscale-1);
  font-size: var(--font-title-size);
  font-weight: var(--font-title-weight);
  transition: height 0.2s ease;
  position: sticky;
  top: 0;
  z-index: 10;
}

header.scrolled {
  height: 30px;
  font-size: var(--font-body-size);
  will-change: transform;
  animation: changeFontSize 0.5s;
  /* TODO: 이 클래스가 제거될 땐 애니메이션이 안됨 */
}

@keyframes changeFontSize {
  from {
    font-size: var(--font-title-size);
  }
  to {
    font-size: var(--font-body-size);
  }
}

#app {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #4e5ba633;
  font-size: var(--font-caption-size);
  font-weight: var(--font-caption-weight);
  color: var(--color-lotto-primary);
  background-color: var(--color-grayscale-1);
}

@media (max-width: 420px) {
  header {
    padding-left: 20px; /* 폭이 작을 때의 마진 설정 */
  }

  footer {
    height: 30px;
  }
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
}

ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
}

main {
  box-sizing: border-box;
  width: 414px;
  height: 727px;
  border: 1px solid #0000001f;
  padding: 15px;
  border-radius: 4px;
}

#mainContainer {
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.squareInput {
  padding: 6px;
  width: 23px;
  height: 26px;
  border: 1px solid var(--color-grayscale-3);
  border-radius: 4px;
  text-align: center;
}

.modalBackground {
  background: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 350px;
  height: 500px;
  border-radius: 4px;
  background: var(--color-grayscale-1);
  padding: 15px;
  position: relative;
}

.fullWidthButton {
  width: 100%;
  height: 36px;
  background: var(--color-lotto-primary);
  border-radius: 4px;
  border: none;
  font-size: var(--font-caption-size);
  font-weight: var(--font-caption-weight);
  color: var(--color-grayscale-1);
  letter-spacing: 1.25px;
}

.textButton {
  background: none;
  border: none;
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

td,
th {
  font-weight: var(--font-body-weight);
  border-top: 1px solid #0000001f;
  border-bottom: 1px solid #0000001f;
  padding: 12px;
  text-align: center;
}

th {
  font-weight: var(--font-title-weight);
}

.rightButtonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.fullWidthText {
  width: 100%;
  text-align: center;
}

.positionBottom {
  position: absolute;
  width: calc(100% - 30px);
  bottom: 36px;
}

.textStyleBold {
  font-size: var(--font-body-size);
  font-weight: var(--font-caption-weight);
}

.relative {
  position: relative;
}

.fullWidthInput {
  flex-grow: 1;
}

input {
  outline: none;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid var(--color-grayscale-3);
}

.button {
  height: 36px;
  background-color: var(--color-lotto-primary);
  color: var(--color-grayscale-1);
  border-radius: 4px;
  border: none;
  padding: 0 16px;
}

.inputAndButtonContainer {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.formTitle {
  margin: 6px 0;
}

.flexBetween {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexEnd {
  justify-content: end;
  align-items: end;
}

.marginBottomSmall {
  margin-bottom: 8px;
}

.inputsGap {
  display: flex;
  gap: 8px;
}

.emojiText {
  font-size: 32px;
}

.scrollList {
  height: 280px;
  overflow: scroll;
}

div {
  font-size: var(--font-body-size);
}

.hideScroll {
  scrollbar-width: none;
}

.toast {
  position: fixed;
  min-width: 300px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  border-radius: 8px;
  animation: toastAnimation 3s forwards;
  font-weight: var(--font-caption-weight);
  font-size: var(--font-caption-size);
  color: var(--color-lotto-primary);
}

@keyframes toastAnimation {
  0% {
    bottom: -100px;
    opacity: 0.5;
  }
  30% {
    bottom: 40px;
    opacity: 1;
  }
  70% {
    bottom: 40px;
    opacity: 1;
  }
  100% {
    bottom: -100px;
    opacity: 0.5;
  }
}

.disabledButton {
  background-color: var(--color-grayscale-4);
}

.disabledInput {
  color: var(--color-grayscale-4);
}
