@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'NanumGothic';
  font-size: 16px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.winning-number {
  width: 30px;
  height: 36px;
}

.bonus-number {
  width: 30px;
  height: 36px;
}

#purchase-result {
  display: none;
}

#purchase-control {
  display: none;
}

.lotto-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

.lotto-item {
  display: flex;
  align-items: center;
}

.lotto-numbers {
  display: none;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}
