@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'NanumGothic';
  font-size: 16px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.input-box {
  width: 30px;
  height: 36px;
}

.correct-number__input--bonus {
  width: 30px;
  height: 36px;
}

.result__item-list--numbers-removed .lotto-numbers {
  display: none;
}

.result__item-list--numbers-added .lotto-numbers {
  display: initial;
}

.lotto-item {
  display: flex;
  align-items: center;
}

.lotto-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

.lotto-numbers {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

#auto-purchase__button {
  width: 165px;
}
