footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: var(--footer-height);

  border-top: 1px solid var(--footer-border-color);
}

footer p {
  display: flex;
  color: var(--lotto-primary);
  font-weight: var(--caption-font-weight);
  font-size: var(--caption-font-size);

  text-align: center;
}
