:root {
  --primary: #4e5ba6;
  --border-gray: rgba(0, 0, 0, 0.12);
  --text-white: #ffffff;
  --text-gray: #8b8b8b;
  --background-white: #ffffff;
  --background-modal: rgba(0, 0, 0, 0.5);
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  border-collapse: collapse;
}

tr {
  height: 5rem;
  text-align: center;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

td,
th {
  vertical-align: middle;
}

.hidden {
  visibility: hidden;
}

.h-20vh {
  height: 20vh;
}

.h-80 {
  height: 80%;
}

.w-30 {
  width: 30%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.gap-x-1 {
  gap: 1rem;
}

.gap-x-2 {
  gap: 2rem;
}

.text-sm {
  font-size: 1.4rem;
}

.text-m {
  font-size: 2.1rem;
}

.text-lg {
  font-size: 2.8rem;
}

.font-light {
  font-weight: lighter;
}

.font-bold {
  font-weight: bold;
}

.text-h-center {
  text-align: center;
}

.text-v-center {
  vertical-align: middle;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.navy-button {
  background-color: var(--primary);
  border: none;
  height: 3.6rem;
  color: var(--text-white);
  border-radius: 1rem;
  cursor: pointer;
}
