.inputs-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4px;
}

.winning-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.winning-numbers {
  display: flex;
  gap: 8px;
}

.number-input {
  width: 34px;
  padding: 8px;
  border: 1px solid var(--greyscale-3);
  border-radius: 4px;
  font-size: 14px;
}

.result-button {
  width: 100%;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 0;
  font-size: 14px;
}

.result-button:disabled {
  cursor: not-allowed;
  background-color: var(--greyscale-3);
}
