.main-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 84px;
  margin-top: 154px;

  background-color: var(--color-lotto-greyscale-2);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 414px;
  padding: 40px;
  gap: 28px;

  background-color: var(--color-lotto-greyscale-1);
  border: 1px solid var(--color-lotto-greyscale-3);
}
.card-header {
  font: var(--text-title);
}

lotto-purchase {
  display: block;
  width: 100%;
}

.card-hidden-section {
  width: 100%;
}
.lottos-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 4px;
  margin-bottom: 24px;
}

.lottos-table {
  height: 216px;

  overflow-y: auto;
}

.lotto-line {
  display: flex;
  gap: 8px;

  align-items: center;

  font: var(--text-body);
}
.lotto-line-icon {
  font-size: 34px;
  line-height: 36px;
}

.userLotto-container {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.winningNumber-container,
.bonusNumber-container {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.bonusNumber-container {
  align-items: end;
}

.winningNumber-input-container {
  display: flex;

  gap: 8px;
}

.winningNumber-line,
.bonusNumber-line {
  width: 26px;
  height: 34px;

  border-radius: 4px;
  border-width: 1px;
  padding-left: 8px;
}

.result-button,
.modal-restart {
  margin-top: 27px;
  width: 100%;

  border-radius: 4px;
  padding: 10px;

  background-color: var(--color-lotto-primary);
  font: var(--text-caption);
  color: var(--color-lotto-greyscale-1);
  border: none;
}

.result-modal-overlay[hidden] {
  display: none;
}
.result-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.45);
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* width: 360px; */
  border-radius: 8px;
  padding: 20px;

  background: #fff;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 10px;

  background: none;
  border: none;
  font-size: 36px;
}

.modal-header {
  font: var(--text-title);
  margin: 30px 0;
}

.modal-table {
  display: flex;
  flex-direction: column;
  gap: 0;
  border-top: 2px solid #e5e5e5;
}

.row-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 16px 0;
  text-align: center;

  border-bottom: 2px solid #e5e5e5;
  font: var(--text-subtitle);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 14px 0;
  text-align: center;

  border-bottom: 2px solid #e5e5e5;
  font: var(--text-body);
}

.row-item {
  padding: 0 16px;
}

.benefit-messege {
  font: var(--text-subtitle);
  margin-top: 40px;
  margin-bottom: 14px;
}
