.pocket-lotto-detail {
  display: inline;
  margin: 0;
}

.pocket-lotto-numbers {
  display: none;
}

#pocket-lottos.show .pocket-lotto-detail {
  display: flex;
  align-items: center;
}

#pocket-lottos.show .pocket-lotto-numbers {
  display: inline-block;
}

.buy-manual {
  justify-content: space-between;
}
#manual-numbers {
  height: 30px;
}

#manual-numbers .manual-number {
  width: 30px;
  height: 100%;
}

section {
  min-width: 400px;
}

#manual-button:hover {
  background-color: #908888;
}

#auto-button {
  width: 100%;
}
