#pocket-lottos .pocket-lotto-detail {
  display: inline-block;
}

#pocket-lottos .pocket-lotto-detail .pocket-lotto-numbers {
  display: none;
}

#pocket-lottos.show .pocket-lotto-detail {
  display: flex;
  align-items: center;
  height: 100%;
}

#pocket-lottos.show .pocket-lotto-detail .pocket-lotto-numbers {
  display: block;
  margin-right: 10px;
  height: 40px;
  line-height: 36px;
}
