:root {
    --navbar-bg: #4E5BA6;
    --navbar-fg: #FFFFFF;

    --content-title-fg: #000000;

    --button-bg: #4E5BA6;
    --button-fg: #FFFFFF;

    --input-border: #B4B4B4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button {
    padding: 6px 14px;
    border: none;
    background-color: var(--button-bg);
    color: var(--button-fg);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-family: Roboto;
    letter-spacing: 1.25px;
    border-radius: 4px;
}

input {
    box-shadow: none;
    border-color: var(--input-border);
    outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

#header nav {
    background-color: var(--navbar-bg);
}

#header nav h1 {
    margin: 0;
    padding: 14px 0 14px 130px;
    color: var(--navbar-fg);
}

/*
-------
CONTENT
-------
*/

#content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: inline-block;
    padding: 40px 16px;
}

#content-title {
    color: var(--content-title-fg);
    text-align: center;
}

#purchase-amount-container {
    width: 382px;
}

#purchase-amount-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#purchase-amount-form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#purchase-amount {
    padding: 8px;
    border-radius: 4px;
    width: 80%;
    height: 36px;
}

#lotto-content > p {
    margin-top: 28px;
}

#lotto-content ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lotto-content ul li {
    display: flex;
    gap: 8px;
}

#lotto-content ul li span {
    font-size: 32px;
}

.lotto-title {
    font-size: 24px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

.row-line-between {
    display: flex;
    justify-content: space-between;
}

.text-base {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
}
