/* LottoResultModal */
.showing-winning-result {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.winning-result-container {
  width: fit-content;
  min-width: 19rem;
  padding: 1.5rem;
  background-color: var(--color-lotto-grey-scale-1);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winning-result-close-button {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  height: fit-content;
  font-size: 1.5rem;
  cursor: pointer;
}

.winning-result-title {
  width: fit-content;
  font-size: 1.25rem;
  font-weight: var(--font-weight-semi-bold);
  margin: 1rem auto 2rem auto;
}

.winning-result-table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.winning-result-table td, .winning-result-table th {
  padding: 0.8rem 0;
  width: 30%;
  border-top: 0.01rem solid var(--color-lotto-grey-scale-3);
  border-bottom: 0.01rem solid var(--color-lotto-grey-scale-3);
}

.profit-rate-message {
  font-weight: var(--font-weight-semi-bold);
  margin: 2rem 0;
}

.lotto-restart-button {
  width: 100%;
  height: 2.2rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-semi-bold);
  background-color: var(--color-lotto-primary);
  color: var(--color-lotto-grey-scale-1);
  border: none;
  border-radius: var(--size-light-border-radius);
  cursor: pointer;
}