.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

/* 타이포그래피 */
.typo-title {
  font-weight: 800; /* ExtraBold */
  font-size: 1.5rem; /* 24px → rem */
  font-weight: 800;
  line-height: 150%;
}

.typo-subtitle {
  font-weight: 600; /* SemiBold */
  font-size: 1.25rem; /* 16px → rem */
  line-height: 120%;
  letter-spacing: 0.15px;
}

.typo-body {
  font-weight: 400; /* Regular */
  font-size: 0.9375rem; /* 15px → rem */
  line-height: 160%;
  letter-spacing: 0.5px;
}

.typo-caption {
  font-weight: 700; /* Bold */
  font-size: 0.875rem; /* 14px → rem */
  line-height: 114%;
  letter-spacing: 1.25px;
}
