footer {
  width: 100%;
  border-top: 1px solid var(--lotto-primary-20);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .caption {
  color: var(--lotto-primary);
  padding: 28px 0 36px;
}
