@import './reset.css';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopScroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

header {
  background-color: #4e5ba6;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

header h1 {
  margin-left: 130px;
}

.lotto h2 {
  margin-bottom: 28px;
  text-align: center;
}

.lotto h6 {
  margin-bottom: 4px;
}

.buyContainer {
  display: flex;
  justify-content: space-between;
  height: 36px;
  margin-bottom: 28px;
}

.buyContainer input {
  width: 310px;
  padding: 8px;
  border-radius: 4px;
}

.buyContainer button {
  width: 56px;
  border-radius: 4px;
}

.lottoNumberConatiner {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow-y: auto;
  height: 350px;
  margin-top: 12px;
}

.lottoNumber {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.lottoNumber span:last-child {
  position: relative;
  bottom: 3px;
}

.winning {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winning input {
  width: 34px;
  height: 36px;
  margin-right: 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.winning input:last-child {
  align-self: end;
  margin-right: 0px;
}

.winningNumbers {
  display: flex;
  flex-direction: column;
}

.winningNumbers span {
  margin: 12px 0px 8px 0px;
}

.winningNumbers div {
  display: flex;
  justify-content: space-between;
}

.checkResult {
  width: 100%;
  margin-top: 27px;
  padding: 10px 0;
  border-radius: 4px;
  text-align: center;
}

.lotto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 414px;
  height: 727px;
  padding: 52px 16px 32px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  border-top: 1px solid rgba(78, 91, 166, 0.2);
}

.imoticion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 34px;
}

.winningModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
}

.closeButton {
  align-self: end;
  position: absolute;
  top: 16px;
  cursor: pointer;
}

.winningScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 350px;
  padding: 41px 16px 32px 16px;
  border-radius: 4px;
  background: white;
}

.lottoTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.benefitRate {
  margin: 32px 0px;
}

.table span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.retryButton {
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
}

.inputNumberContainer input {
  text-align: center;
  -moz-appearance: textfield;
}

.inputNumberContainer input::-webkit-outer-spin-button,
.inputNumberContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.text-title {
  color: rgba(0, 0, 0, 0.87);
  font: 800 24px system-ui, -apple-system;
  line-height: 36px;
}

.text-subtitle {
  color: rgba(0, 0, 0, 0.87);
  font: 600 20px system-ui, -apple-system;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.text-subject {
  color: rgba(0, 0, 0, 0.87);
  font: 600 15px system-ui, -apple-system;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.text-body {
  color: rgba(0, 0, 0, 0.87);
  font: 400 15px system-ui, -apple-system;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.text-placeholder::placeholder {
  color: #8b8b8b;
  font: 400 15px system-ui, -apple-system;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.text-caption {
  color: rgba(0, 0, 0, 0.87);
  font: 700 14px system-ui, -apple-system;
  letter-spacing: 1.25px;
  line-height: 16px;
}

.text-black {
  color: rgba(0, 0, 0, 0.87);
}

.text-white {
  color: #ffffff;
}

.text-blue {
  color: #4e5ba6;
}

.bg-white {
  background: #ffffff;
}

.bg-gray-100 {
  background: #fcfcfd;
}

.bg-blue {
  background: #4e5ba6;
}

.hiddenElement {
  display: none;
  visibility: hidden;
}

.errorMessage {
  margin: 8px 0;
  color: red;
  text-align: center;
}
