@import url(./reset.css);
@import url(./main.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./purchaseAmountForm.css);
@import url(./purchaseLotto.css);
@import url(./winningLottoForm.css);
@import url(./statistics.css);

#app {
  min-height: 100vh;
  background-color: #fcfcfd;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hidden {
  display: none;
}
