.lotto-statistics-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--lotto-greyscale-5-semi-light);
}

.lotto-statistics-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 350px;
  padding: 0px 16px;
  background: var(--lotto-greyscale-1);
}

.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  outline: none;
  background: var(--lotto-greyscale-1);
  letter-spacing: var(--letter-spacing-large);
  text-align: center;
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
  line-height: var(--line-height-small);
}

.lotto-statistics-modal-title {
  width: 100%;
  margin: 40px 0px;
  text-align: center;
  font-size: var(--font-medium);
  font-weight: var(--font-semi-bold);
}

.return-on-investment-text {
  width: 100%;
  margin: 32px 0px;
  text-align: center;
  font-weight: var(--font-bold);
}

.lotto-statistics-modal table {
  width: 100%;
  border-top: 1px solid var(--lotto-greyscale-5-light);
}

.lotto-statistics-modal tr {
  display: flex;
  padding: 8px 0px;
  border-bottom: 1px solid var(--lotto-greyscale-5-light);
  text-align: center;
}

.lotto-statistics-modal th {
  width: calc(100% / 3);
  font-weight: var(--font-semi-bold);
}

.lotto-statistics-modal td {
  width: calc(100% / 3);
}

.restart-btn {
  width: 100%;
  height: 36px;
  margin-bottom: 32px;
  border: 0;
  border-radius: 4px;
  background: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
  letter-spacing: var(--letter-spacing-large);
  text-align: center;
  font-size: var(--font-small);
  font-weight: var(--font-bold);
  line-height: var(--line-height-small);
}
