.lotto-display-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin: 2.4rem 0rem;
}

.lotto-display {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.lotto-display p {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.lotto-display span {
  letter-spacing: var(--letter-spacing-small);
  text-align: left;
  font-size: var(--font-xlarge);
  font-weight: var(--font-semi-bold);
  line-height: var(--line-height-large);
}
