#lottoGame {
  width: fit-content;
  border: 1px solid var(--lotto-greyscale-5-12);
  background-color: var(--lotto-greyscale-1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

#lottoGame .purchase_amount {
  display: flex;
}

.lottoSet {
  display: flex;
  flex-direction: column;
}
