.paper {
  width: 414px;
  height: 728px;
  background-color: var(--grayscale1);
  margin: 0 auto;
  padding: 40px 16px 32px;
  border: 1px solid rgb(0 0 0 / 12%);
}

.paper_title {
  text-align: center;
}

.paper_section {
  margin-top: 28px;
}

.paper_input_price_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.paper_price_input {
  width: 310px;
  height: 36px;
  padding: 8px;
  border: 1px solid var(--grayscale3);
}

.paper_buy_button {
  width: 56px;
  height: 36px;
}

.paper_lotto_information_wrap {
  display: none;
}

.paper_lotto_information {
  height: 276px;
  margin-bottom: 24px;
  overflow: auto;
}

.paper_lotto_count {
  margin-top: 28px;
  margin-bottom: 8px;
}

.lotto {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
}

.ticket_icon {
  width: 34px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

.lotto_number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper_winning_wrap {
  margin-bottom: 28px;
}

.paper_winning_text {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 8px;
}

.paper_winning_input_wrap {
  display: flex;
  justify-content: space-between;

  input {
    width: 34px;
    height: 36px;
    padding: 8px;
  }
}

.paper_result_button {
  width: 100%;
  height: 36px;
}
