#purchase-lotto {
  flex: 1;
  overflow: auto;
  margin: 28px 16px 24px;
}

#lottos-count {
  margin-bottom: 4px;
  font: 400 15px/24px 'Roboto';
  letter-spacing: 0.5px;
}

#purchase-lotto ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#purchase-lotto li {
  display: flex;
  margin: 4px 0px;
  align-items: center;
}

#purchase-lotto .lotto-emoji {
  font: 600 36px/36px 'Roboto';
  margin-right: 8px;
}

#purchase-lotto .lotto-numbers {
  font: 400 15px/24px 'Roboto';
  letter-spacing: 0.5px;
}
