:root {
  --primary: #4e5ba6;
  --grey-scale-1: #ffffff;
  --grey-scale-2: #fcfcfd;
  --grey-scale-3: #b4b4b4;
  --grey-scale-4: #8b8b8b;
  --grey-scale-5: #000000;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

header,
footer {
  height: 4rem;
  background-color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  width: 41.4rem;
  height: 70vh;

  border: 1px solid rgba(0, 0, 0, 0.12);

  padding: 1.6rem;
  margin: 3rem auto;
}

main > section {
  width: 100%;
}

.lotto-store__title {
  width: 100%;

  text-align: center;
  font-size: 2.4rem;
}

.lotto-store__amount {
  margin-top: 2.8rem;
}

.lotto-store__amount-label {
  font-size: 1.5rem;
}
.lotto-store__amount-form {
  display: flex;
  margin-top: 0.5rem;
}
.lotto-store__amount-input {
  height: 3rem;

  flex-grow: 1;

  outline: none;
  border: 1px solid var(--grey-scale-3);
  border-radius: 0.4rem;

  padding: 0 0.5rem;

  box-sizing: border-box;
}

.lotto-store__purchase-btn {
  flex-shrink: 0;

  width: 5rem;

  border: none;
  border-radius: 0.4rem;

  color: var(--grey-scale-1);
  background-color: var(--primary);

  margin-left: 1.6rem;
}

.lotto-store__lotto-list {
  margin-top: 2.8rem;

  overflow-y: scroll;
  flex-grow: 1;
}

.lotto-list__lotto-amount {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

lotto-list__lotto-list {
  margin-top: 1rem;
}

.lotto-list__lotto {
  display: flex;
  align-items: center;

  font-size: 1.5rem;
  letter-spacing: 0.05rem;

  margin-top: 1rem;
}

.lotto-list__lotto > span {
  font-size: 3rem;
  margin-right: 1rem;
}

.lotto-store__win-numbers {
  margin-top: 3rem;
}

.lotto-store__win-numbers-desc {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.lotto-store__win-numbers-form {
  margin-top: 2rem;
}

.lotto-store__drawing-numbers {
  display: flex;
  justify-content: space-between;
}

.lotto-store__win-numbers-input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lotto-store__bonus-number-input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lotto-store__win-numbers-label,
.lotto-store__bonus-number-label {
  font-size: 1.5rem;
}

.lotto-store__win-numbers-list {
  display: flex;
}

.lotto-store__win-numbers-form input {
  width: 2.5rem;
  aspect-ratio: 1 / 1.1;

  border: 1px solid var(--grey-scale-3);
  border-radius: 4px;

  margin-top: 0.5rem;
}

.lotto-store__win-numbers-form input:first-child {
  margin-right: 0.5rem;
}

.lotto-store__draw-btn {
  width: 100%;

  border: none;
  border-radius: 0.4rem;

  color: var(--grey-scale-1);
  background-color: var(--primary);

  padding: 1rem 0;
  margin-top: 2rem;
}

.lotto-store__statistics-dialog {
  width: 31.4rem;
  height: 60vh;

  border: none;
  border-radius: 0.4rem;

  padding: 1.6rem;
}

.lotto-store__statistics-dialog-contents {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.lotto-store__statistics-dialog-contents > * {
  width: 100%;
}

.lotto-store__statistics-dialog-close-form {
  display: flex;
  justify-content: flex-end;
}

.lotto-store__dialog-close-btn {
  width: 3rem;

  font-size: 2rem;

  border: none;

  background-color: transparent;

  padding: 0;
}

.lotto-store__statistics-title {
  text-align: center;
  font-size: 2rem;

  margin-top: 1rem;
}

.lotto-store__statistics-table {
  margin-top: 3rem;
}

.lotto-store__statistics-label,
.lotto-store__statistic {
  display: flex;
  justify-content: space-between;

  height: 3rem;
  line-height: 3rem;

  font-size: 1.3rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  padding: 0 1rem;
}

.lotto-store__statistics-label {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.lotto-store__earning-rate {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  font-size: 1.5rem;
}

.lotto-store__retry-btn {
  flex-shrink: 0;

  width: 100%;

  border: none;
  border-radius: 0.4rem;

  color: var(--grey-scale-1);
  background-color: var(--primary);

  padding: 1rem 0;
}
