.winning-lotto-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.winning-lotto-form {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  width: 100%;
}

.winning-lotto-form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.winning-lotto-form input[type='number'] {
  width: 34px;
  height: 36px;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 4px;
  text-align: center;
}

.winning-number-input {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.winning-number-input div {
  display: flex;
  column-gap: 8px;
}

.bonus-number-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 8px;
}

.winning-lotto-btn {
  width: 100%;
  height: 36px;
  margin-bottom: 32px;
  border-radius: 4px;
  background: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
  letter-spacing: var(--letter-spacing-large);
  text-align: center;
  font-weight: var(--font-bold);
  line-height: var(--line-height-small);
}
