bonus-number-input-field {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.8rem;

  width: 100%;
}

.bonus-number-input-container {
  display: flex;
  gap: 0.8rem;
}

.bonus-number-title-container {
  display: flex;
  align-items: center;

  height: 2.4rem;
}
