lotto-main {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;

  height: max-content;
}

.lotto-main-container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  align-items: center;
  justify-content: start;

  width: 41.4rem;
  height: min-content;
  min-height: 72.7rem;
  background-color: var(--lotto-greyscale-1);
  border: 0.1rem solid rgba(0, 0, 0, 0.12);

  padding-top: 4rem;
  padding-bottom: 3.2rem;
  padding-inline: 1.6rem;
}

.lotto-main-title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.6rem;
}

.purchase-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: auto;
  gap: 2.8rem;
}
