lotto-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
  border-top: 1px solid rgba(78, 91, 166, 0.2);
}

lotto-footer .lotto-caption {
  color: var(--lotto-primary);
}
