lotto-header {
  display: flex;
  align-items: center;

  height: 64px;
  background-color: var(--lotto-primary);

  padding-inline: 130px;
}

lotto-header .lotto-title {
  color: var(--lotto-greyscale-1);
}
