purchase-price-form {
  display: flex;
  gap: 16px;
  align-items: end;

  width: 100%;
  height: min-content;
}

purchase-price-form .lotto-button {
  width: 56px;
}

.price-input-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 4px;
}

.price-input-label-container {
  display: flex;
  align-items: center;
  height: 24px;
}

#purchase-button {
  width: 56px;
}
