purchase-price-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;

  width: 100%;
  height: min-content;
}

purchase-price-form .lotto-button {
  width: 56px;
}

.price-input-label-container {
  display: flex;
  align-items: center;
  height: 24px;
}

.price-input-button-container {
  display: flex;
  align-items: end;
  gap: 8px;

  height: min-content;
  width: 100%;
}

#purchase-button {
  width: 56px;
}
