winning-numbers-form {
  display: flex;
  flex-direction: column;
  gap: 27px;

  width: 100%;
}

.winning-bonus-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.winning-input-title-container {
  display: flex;
  align-items: center;
  height: 24px;
}

.winning-bonus-input-container {
  display: flex;
  flex: auto;
  justify-content: space-between;

  width: 100%;
}

winning-numbers-form .lotto-button {
  width: 100%;
}
