winning-numbers-input-field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: 100%;
}

.winning-numbers-input-container {
  display: flex;
  gap: 0.8rem;
}

.winning-numbers-title-container {
  display: flex;
  align-items: center;

  height: 2.4rem;
}
