.winning-lotto-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.numbers-container {
  display: flex;
  justify-content: space-between;
}

.numbers-container input {
  width: 34px;
  height: 36px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.numbers-container input:not(:last-child) {
  margin-right: 8px;
}

.bonus-number-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.winning-lotto-form > button {
  width: 100%;
  height: 36px;
  margin: 28px 0;
}
