footer.footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid;
  border-color: #4e5ba633;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.footer-content {
  text-align: center;
  color: var(--color-lotto-primary);
}
