header {
  display: flex;
  align-items: center;

  height: 64px;

  padding-left: 130px;

  background-color: var(--colorPrimary);

  color: var(--grayScale100);
  font-family: var(--fontFamilyPrimary);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;

  border-top: 1px solid rgba(78, 91, 166, 0.2);
}

.check-winning-section {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 85vh;
}

.lotto-purchase-form {
  display: flex;
  flex-direction: column;
}

.purchase-input-container {
  display: flex;

  gap: 16px;
}

#lotto-purchase-input {
  width: 310px;
  height: 36px;

  padding-left: 8px;

  border: 1px solid var(--grayScale300);
  border-radius: 4px;
}

.lotto-purchase-button {
  width: 56px;
  height: 36px;

  background-color: var(--colorPrimary);
  color: var(--grayScale100);

  border: 0;
  border-radius: 4px;
}

.lotto-purchase-button:disabled {
  background-color: var(--grayScale400);
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.copyright {
  color: var(--colorPrimary);
  font-size: var(--fontSizeCaption);
  font-weight: var(--fontWeightCaption);

  letter-spacing: 1px;
}
