header {
  display: flex;
  align-items: center;

  height: 64px;

  padding-left: 130px;

  background-color: var(--colorPrimary);

  color: var(--grayScale100);
  font-family: var(--fontFamilyPrimary);
}

.check-winning-section {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 85vh;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;

  border-top: 1px solid rgba(78, 91, 166, 0.2);
}

.copyright {
  color: var(--colorPrimary);
  font-size: var(--fontSizeCaption);
  font-weight: var(--fontWeightCaption);

  letter-spacing: 1px;
}
