* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

button {
  background-color: #00bcd4;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #00c6e0;
}
button:active {
  background-color: #008394;
}
button:disabled {
  background-color: #b4b4b4;
  cursor: default;
}

input:disabled {
  color: #b4b4b4;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:focus {
  outline: 1px solid #00bcd4;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 10px;
}

table {
  border-width: 1px;
  border-top: 1px solid #000;
  border-collapse: collapse;
}

caption {
  padding: 0 0 10px;
}

tr,
td {
  padding: 5px;
  border-top: 1px solid #dcdcdc;
}
