button {
  cursor: pointer;
  background: var(--primary);
  border-radius: 4px;
  border: var(--primary);
  padding: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: var(--white);
  flex: none;
  order: 0;
  flex-grow: 0;
}

button:disabled {
  background: var(--secondary);
  cursor: not-allowed;
}

#purchase-button {
  width: 56px;
  height: 36px;
  margin-left: 8px;
}

#result-button {
  width: 382px;
  height: 36px;
  grid-column: 1 / 3;
  grid-row-start: 3;
}

#close-button {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  content: url('/images/close.svg');
}

#restart-button {
  width: 152px;
  height: 36px;
  margin: 32px 0 0 0;
}
