section {
  width: 414px;
  padding: 5px;
  box-sizing: border-box;
}

#purchase-container {
  display: flex;
  flex-direction: column;
}

#ticket-container {
  grid-template-columns: 4fr 1fr;
  grid-row-gap: 12px;
}

.ticket-icon-div {
  margin: 0 0 8px 0;
  display: block;
  position: relative;
}

#winning-numbers-container {
  margin: 32px 0;
}

.winning-numbers-div {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-row-gap: 12px;
  margin: 8px 0;
}
