#app {
  margin: 50px auto;
  width: 500px;
  padding: 50px 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#app-title {
  text-align: center;
}

/* 각 페이지 섹션 기본 설정 */
.page-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.winner-number-input,
.bonus-number-input,
.cash-input {
  width: 3rem;
  font-size: 1.5rem;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  text-align: center;
}

/* 구입 금액 입력 섹션 */
.cash-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;
}

.cash-input-button {
  margin-left: 10px;
  width: 5rem;
}

.unit {
  width: 5rem;
  font-size: 1.5rem;
  border: 1px solid transparent;
}

.unit::placeholder {
  color: #000000;
}

.unit:disabled {
  background-color: transparent;
}

/* 구입한 로또 표시 섹션 */
.purchased-lotto-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.lotto-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0 5px;
}

.lotto-grid .lotto-numbers {
  display: none;
}

.lotto {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lotto-image {
  font-size: 2rem;
}

.show-number-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

/* 당첨 번호 입력 섹션 */
.winner-number-input-form {
  display: flex;
  justify-content: space-between;
}

.winner-number-input-container {
  display: flex;
  gap: 8px;
}

.lotto-rules {
  padding: 20px;
  background-color: #b4b4b455;
  border-radius: 4px;
}

.lotto-rules-label {
  font-weight: 600;
}

.lotto-rules-list {
  margin-top: 10px;
  padding-left: 15px;
  font-size: 0.8rem;
  line-height: 1.5;
}

.bonus-number-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bonus-number-input-label {
  margin-bottom: 10px;
}

.result-button {
  width: 100%;
}
