.hidden {
  display: none;
}

.show {
  display: grid;
}

.show-flex {
  display: flex;
}

.align-row {
  display: flex;
  flex-wrap: wrap;
}

.align-column {
  display: block;
}

.align-right {
  justify-self: end;
}
