.submit-form {
  padding: 0 16px;
}
.submit-form label {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
.input-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  height: 36px;
}

#fare-input {
  width: calc(100% - 70px);
  height: 100%;
  padding-left: 10px;
}

#fare-input:disabled {
  background-color: #e0e0e0;
}

#fare-button {
  width: 52px;
  height: 100%;
}

#fare-button:disabled {
  background-color: #a0a0a0;
}