.text-caption {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: center;
}

.text-content {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.text-profit-rate {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.text-table-content {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.text-title {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}
