/* Input Fields */
#input-purchase-amount-area {
  display: flex;
  gap: 15px;
  height: 40px;
}

#input-purchase-amount {
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 17px;
  padding-left: 5px;
}

#input-purchase-amount::placeholder {
  font-size: 17px;
  padding-left: 5px;
}

#input-winning-numbers {
  display: flex;
  gap: 10px;
}

#input-winning-numbers input,
#input-bonus-numbers input {
  width: 25px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  text-align: center;
}

#input-bonus-numbers input {
  justify-content: flex-end;
}

#input-winning-numbers-section {
  display: flex;
  flex-direction: column;
}

#input-bonus-number-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#input-winnings-and-bonus-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#purchase-amount-helper-text {
  color: #FF6464;
  visibility: visible;
  font-size: 13px;
}

#winnings-and-bonus-helper-text {
  color: #FF6464;
  visibility: visible;
  font-size: 13px;
}

/* Lotto Generation */
#generated-lottos {
  max-height: 280px;
  overflow-y: auto;
}

#generated-lottos p {
  display: flex;
  align-items: center;
  gap: 10px;
}

#generated-lottos p img {
  width: 34px;
  height: 36px;
}
