:root {
  --main-bg-color: #e5e5e5;
  --app-bg-color: #ffffff;
  --input-color: #b4b4b4;
  --button-bg-color: #00bcd4;
  --button-text-color: #ffffff;
  --toggle-off-bar-color: rgba(0, 0, 0, 0.15);
  --toggle-off-button-color: rgba(33, 33, 33, 0.08);
  --toggle-on-bar-color: #80deea;
  --toggle-on-button-color: #00bcd4;
  --table-line-color: #dcdcdc;
  --popup-bg-color: #00000080;
}