input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

input:focus {
  background-color: rgba(63, 207, 226, 0.1);
  border: 1px solid #00bcd4;
  outline: none;
}

.input-alert {
  border: 1px solid tomato;
}

.input-alert:focus {
  border: 1px solid tomato;
  background-color: rgba(255, 99, 71, 0.1);
}

button {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 36px;
}

button:disabled {
  background-color: #8b8b8b;
  cursor: not-allowed;
}

input:disabled {
  cursor: not-allowed;
}

section {
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 390px;
  padding: 52px 16px;
  gap: 32px;
}

header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  margin-bottom: -16px;
}

label {
  display: block;
  text-align: start;
  margin-bottom: 8px;
}

.items-center {
  display: flex;
  align-items: center;
  width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#lotto-result-container {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  font-size: 32px;
  gap: 8px;
}

.lotto-numbers-container {
  font-size: 16px;
  margin-left: 8px;
}

.winning-number-input {
  text-align: center;
  width: 34px;
  height: 36px;
}

#check-result-button {
  width: 100%;
}

#purchase-money-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#purchase-money-input {
  width: 310px;
  height: 36px;
}

input {
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

#purchase-money-button {
  margin-top: 2px;
  width: 56px;
}

#winning-number-form {
  width: 100%;
}

#check-result-button {
  margin-top: 24px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 106px);
  grid-template-rows: repeat(6, 40px);
  grid-gap: 0;
  border-top: 1px solid #dcdcdc;
  margin-bottom: 16px;
}

.wrapper > div {
  height: 40px;
  border-bottom: 1px solid #dcdcdc;
  line-height: 40px;
  text-align: center;
}

#purchase-money-input-alert {
  width: 316px;
  text-align: center;
  color: tomato;
  font-size: 12px;
  margin: 4px;
}
