@import url('./color.css');
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-background-color);
}

p {
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 52px;
}
button {
  background: var(--button-color);
  border-style: none;
  border-radius: 4px;
  color: var(--button-font-color);
}
button:hover {
  cursor: pointer;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 727px;
  height: fit-content;
  width: 414px;
  padding: 0 16px 80px 16px;
  background-color: var(--app-background-color);
}
/*lottoPriceInput */

.lotto-price-input-form > div {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lotto-price-input-container {
  margin-bottom: 30px;
}
.lotto-price-input-form label {
  font-size: 16px;
}
.lotto-price-input {
  width: 90%;
  height: 30px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 16px;
}
.lotto-price-submit-button {
  width: 56px;
  height: 36px;
  padding: 6px 6px 6px 8px;
}
.lotto-price-submit-button:hover {
  background-color: var(--button-disabled-color);
}
.lotto-price-submit-button:disabled {
  background-color: var(--button-disabled-color);
  cursor: not-allowed;
}

/*purchased-lotto-list*/
.purchased-lotto-list-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 414px;
}
.purchased-lotto-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.purchased-lotto-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.purchased-lotto-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
}
.purchased-lotto-list p {
  font-size: 34px;
  margin-right: 4px;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  margin-top: 15px;
}
.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
.onoff-switch {
  position: absolute;
  cursor: pointer;
  width: 34px;
  height: 14px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: var(--onoff-switch-color);
  border-radius: 7px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.onoff-switch:before {
  position: absolute;
  content: '';
  top: -3px;
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 4px;
  background: var(--toggle-circle-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
  -webkit-transition: 0.5s;
  transition: 0.4s;
  border-radius: 20px;
}
.toggle-button input:checked + .onoff-switch {
  background-color: var(--onoff-switch-checked-color);
}
.toggle-button input:checked + .onoff-switch:before {
  background-color: var(--toggle-circle-checked-color);
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.purchased-lotto-list.is-active {
  flex-direction: column;
}

.lotto-item-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lotto-item-number {
  font-size: 15px;
  margin-left: 8px;
}

/*last-lotto-winnding-number*/
.last-lotto-winning-number-container {
  margin-top: 30px;
}
.last-lotto-winning-number-header {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.last-lotto-winning-number-input {
  width: 34px;
  height: 36px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
}
.last-lotto-winning-number-input:disabled {
  cursor: not-allowed;
}

.last-lotto-winning-number-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.last-lotto-bonus-number-main-container {
  margin-top: 10px;
}

.check-result-button {
  width: 100%;
  height: 36px;
  margin-top: 24px;
}

/*overlay*/

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background-color);
}
.overlay.is-active {
  display: block;
}
/*winning-rate-content*/
.winning-rate-content-container {
  position: absolute;
  top: 114px;
  left: 50px;
  width: 350px;
  height: 500px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  background-color: var(--app-background-color);
  z-index: 100;
  transform: translate3d(0, 100%, 0);
  transition: transform 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.winning-rate-content-container.is-active {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform 300ms ease-in-out;
}

.winning-rate-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
#winning-rate-container-title {
  padding: 0;
  margin: 0;
}
.winning-rate-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 14px;
  color: var(--close-button-color);
  background-color: var(--app-background-color);
}
.winning-rate-close-button:hover {
  color: var(--button-disabled-color);
}
/*table 관련*/
.winning-rate-table-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.winning-rate-table {
  border-collapse: collapse;
}
.winning-rate-table tr:first-child {
  font-size: 15px;
  font-weight: 600;
}
td {
  border-top: 1px solid var(--table-border-color);
  padding: 8px;
  text-align: center;
}
.last-tr td {
  border-bottom: 1px solid var(--table-border-color);
}
/*결과 문구*/
.winning-rate-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  font-size: 15px;
  font-weight: 600;
}
/*다시시작하기*/
.restart-button-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.restart-button {
  width: 152px;
  height: 36px;
}

.restart-button:hover {
  background-color: var(--button-disabled-color);
}
