body {
  background: #f9f9f9;
}

#app {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  background: #ffffff;
  font-family: Roboto;
}

header {
  padding: 20px;
}

header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.money-input-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.money-input {
  width: 310px;
  height: 36px;
  border: 1px solid #b4b4b4;
  box-sizing: border-box;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.purchase-button {
  width: 56px;
  height: 36px;
  background: #00bcd4;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-left: 10px;
}

.purchase-status-container {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.lotto-grid {
  display: grid;
  margin: 10px 0px 30px 0px;
  grid-template-columns: repeat(5, 1fr);
}

.lotto-grid-detail {
  display: flex;
  flex-direction: column;
}

.lotto-number-detail {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-left: 8px;
}

.lotto-grid div {
  padding-right: 3px;
}

.lotto-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.lotto-img {
  font-size: 34px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

/* Toggle Button */
.cm-toggle {
  height: 20px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 10px;
  opacity: 0.4;
  padding-top: 6px;
}

/* To create surface of toggle button */
.cm-toggle:after {
  content: '';
  width: 44px;
  height: 18px;
  display: inline-block;
  background: rgba(33, 33, 33, 0.08);
  border-radius: 18px;
  clear: both;
}

/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  left: -1px;
  top: 3px;
  border-radius: 50%;
  background: #ededed;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 60%);
}

/* Shift the handle to left on check event */
.cm-toggle:checked:before {
  left: 20px;
  box-shadow: -1px 1px 3px rgb(0 0 0 / 60%);
  background: #00bcd4;
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
  background: #80deea;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.winning-text-contatiner {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.winning-numbers {
  width: 34px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #b4b4b4;
  box-sizing: border-box;
  margin-right: 8px;
}

.winning-numbers-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

#show-result {
  width: 382px;
  height: 36px;
  padding: 6px 6px 6px 8px;
  margin-top: 34px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background: #00bcd4;
  color: #ffffff;
}

#bonus-number {
  margin-right: 0;
}

.d-none {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
