@import url('reset.css');
@import url('util.css');

:root {
  --primary: #00bcd4;
  --lighten: #80deea;
}

body {
  background: #f9f9f9;
}

.app-style {
  box-sizing: border-box;
  width: 430px;
  min-height: 727px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: auto;
  margin-top: 100px;
  padding: 52px 16px 40px;
}

.lotto-title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.blue-button {
  box-sizing: border-box;
  height: 36px;
  background: var(--primary);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border: none;
  border-radius: 4px;
}

.charge-input-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.normal-input {
  box-sizing: border-box;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  padding: 0px 8px;
}

.no-spin-button::-webkit-outer-spin-button,
.no-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.normal-text {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}

/* .purchased-lotto-section, */
.winner-number-input-wrap {
  display: flex;
  justify-content: space-between;
}

.lotto-icon {
  font-weight: 600;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.87);
}

.grid-div {
  display: grid;
  grid-template-columns: auto auto;
}

.lotto-list-icon-style {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.lotto-list-number {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.show-number-toggle {
  mix-blend-mode: normal;
  opacity: 0.38;
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  margin-top: 7px;
}

.show-number-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(33, 33, 33, 0.08);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 7px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 0px;
  top: -3px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  background: #ededed;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background-color: var(--lighten);
}

input:checked + .slider:before {
  background: var(--primary);
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
