input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  border: 1px solid #00bcd4;
  outline: 2px solid #00bcd4;
}

label {
  cursor: pointer;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.07);
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: overlay;
}

#app {
  width: 25vw;
  min-width: 414px;
  padding: 20px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.header-title {
  font-size: 34px;
  text-align: center;
}

#charge-input-form {
  display: flex;
  height: 36px;
}

#charge-input {
  flex: 1;
  margin-right: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

#charge-button {
  width: 15%;
}

button {
  border-radius: 4px;
  background-color: #00bcd4;
  color: #ffffff;
  border: 0;
  min-height: 36px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #26daf1;
}

section {
  margin-bottom: 20px;
}

#lotto-section[data-visible-state='false'] {
  display: flex;
  visibility: hidden;
  height: 0vh;
}

#lotto-section[data-visible-state='true'] {
  display: flex;
  flex-direction: row;
  height: 237.84px;
  visibility: visible;
  transition: height 0.5s;
}

.lotto-wrapper {
  flex: 1;
}

.lotto {
  font-size: 34px;
}

.lotto .number {
  font-size: 16px;
}

#lotto-container {
  display: flex;
  flex-wrap: wrap;
}

#lotto-container[data-visible-state='false'] {
  flex-direction: row;
  gap: 3px;
}

#lotto-container[data-visible-state='false'] .number {
  display: none;
}

#lotto-container[data-visible-state='true'] {
  flex-direction: column;
}

#lotto-container[data-visible-state='true'] .lotto {
  display: flex;
  align-items: center;
  gap: 10px;
}

#win-number-input-section[data-visible-state='false'] {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

#win-number-input-section[data-visible-state='true'] {
  margin-top: 40px;
  opacity: 1;
  transition: opacity 1s;
}

.win-number-input-notice {
  margin-bottom: 0;
}

.win-number-input-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.win-number-input-wrapper > div > input {
  text-align: center;
}

#result-button {
  width: 100%;
  margin-top: 10px;
  padding: 13px;
}

.win-number-input-wrapper input {
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
}

.bonus-number-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 20px;
}

#align-converter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

label[for='align-converter'] {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
