@import './normalize.css';
@import './root.css';
@import './spacing.css';
@import './btn.css';
@import './flex.css';
@import './form.css';
@import './typhography.css';
@import './switch.css';

body {
  width: 100%;
  height: 100%;
  background-color: var(--gray-500);
}

#app {
  display: flex;
  flex-direction: column;
  width: 414px;
  margin: 56px auto 0;
  padding: 52px 16px 39px;
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  background-color: white;
}

.w-100 {
  width: 100%;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

lotto-list {
  display: flex;
}

lotto-list > .lotto-list-container {
  flex: 1;
}

lotto-list > .lotto-list-container label {
  display: block;
  margin-bottom: 8px;
}

lotto-list > .toggle-container {
}

lotto-list lotto-item {
  display: flex;
  align-items: center;
}

lotto-list lotto-item img {
  margin-right: 8px;
}

lotto-list-toggle {
}

winning-number-form > form {
  display: flex;
  flex-direction: column;
}

winning-number-form label {
  display: block;
  margin-bottom: 8px;
}

winning-number-form input.form-control {
  width: 34px;
  height: 36px;
  padding: 0;
  margin-right: 8px;
  text-align: center;
}

winning-number-form .wrapper {
  display: flex;
  margin-bottom: 24px;
}

winning-number-form fieldset {
  flex: 1;
}

winning-number-form fieldset:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
