$border-color: #b4b4b4;
$border-radius: 5px;
$primary-color: #00bcd4;

:root {
  font-size: 15px;
}

body {
  background-color: #f9f9f9;
  font-family: 'NanumBarunGothic', sans-serif;
  overflow: hidden;
}

#app {
  width: 27.6rem;
  margin: 5.7rem auto;
  padding: 1.05rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);

  header {
    text-align: center;
  }

  input[type='number'] {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: none;
    font-size: 1.1rem;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .btn {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.lotto-money-section {
  margin: 1rem 0;
}

.lotto-money-input-container {
  display: grid;
  grid-template-columns: 80% 15%;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.lotto-list-section {
  display: none;
}

.show {
  display: block !important;
}

.lotto-list-container {
  display: grid;
  grid-template-columns: 85% 10%;
  justify-content: space-between;
}

.lotto-title {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem 0;
}

.lotto-list-container {
  > div:last-child {
    padding: 0.5rem 0;
  }
}

#lotto-number-toggle {
  position: relative;
  width: 100%;
  height: 1.5rem;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0.15rem;
    display: block;
    content: '';
    width: 100%;
    height: 1.2rem;
    border-radius: $border-radius;
    background-color: #ededed;
    transition: background-color ease 0.3s;
  }

  &.open::before {
    background-color: #80deea;
  }

  &::after {
    position: absolute;
    top: 0px;
    display: block;
    content: '';
    border-radius: 50%;
    background-color: #ededed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    width: 1.5rem;
    height: 100%;
    transition: transform ease 0.3s, background-color ease 0.3s;
  }

  &.open::after {
    background-color: $primary-color;
    transform: translateX(100%);
  }
}

.lotto-item-container {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-auto-rows: max-content;
  max-height: 400px;
  overflow-y: auto;

  > .item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    grid-column: 1 span;

    .item-number {
      display: none;
      font-size: 1rem;
    }
  }

  &.open {
    > .item {
      grid-column: 8 span;

      .item-number {
        display: block;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
  }
}

.lotto-list-section,
.winning-number-section {
  margin-top: 2rem;
}

/*
WINNING NUMBERS
*/

.winning-number-section {
  display: none;
}

.winning-number-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.winning-number-inputs-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.6rem;
}

.winning-number-input {
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
}

.bonus-number-input {
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
}

.bonus-number-wrapper {
  text-align: right;
}

.bonus-number-input-wrapper {
  margin-top: 0.6rem;
}

#show-result-button {
  margin-top: 1.2rem;
  width: 100%;
}

/*
WINNING MODAL
*/
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 330px;
  height: 450px;
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.winning-result-title {
  font-size: 21px;
}

.winning-result-container {
  display: grid;
  grid-template-rows: 20% 50% 10% 20%;
}

.winning-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.winning-result-table-title {
  font-size: 15px;
  font-weight: bold;
}

.winning-result > section {
  display: grid;
  border-bottom: 0.5px solid lightgray;
}
.winning-result > section > * {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid lightgray;
  padding: 8px 0;
}

.profit-rate-wrapper {
  font-weight: bold;
  font-size: 16px;
}
.profit-rate-wrapper,
.reset-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button {
  padding: 10px 30px !important;
}

.close-modal-button {
  position: absolute;
  background: transparent;
  border: none;
  color: rgb(177, 176, 176);
  right: 12px;
  top: 15px;
  cursor: pointer;
}
