@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.lotto-number,
.winning-number,
.bonus-number {
  width: 36px;
  height: 42px;
  box-sizing: border-box;
}

button:disabled {
  pointer-events: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.lotto-list-container.show-number .lotto-list {
  flex-direction: column;
}

.lotto-list-container .lotto-numbers {
  font-size: 1rem;
  padding-left: 5px;
  display: none;
}

.lotto-list-container.show-number .lotto-numbers {
  display: inline;
}

fieldset {
  padding: 0;
  margin: 0;
}

#lotto-numbers-input-button {
  align-self: flex-end;
  height: 42px;
}
