:root {
  --color-primary: #00bcd4;
  --color-lighten: #80deea;
  --color-placeholder: #8b8b8b;
  --color-border: #b4b4b4;
  --color-white: white;
  --color-dimmed: rgba(0, 0, 0, 0.5);
  --color-unchecked-round: #ededed;
  --color-unchecked-slide: rgba(33, 33, 33, 0.08);
  --color-modal-overlay: rgba(0,0,0,0.4);
  --color-table-border: #dcdcdc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid var(--color-border);
  outline: 0;
  border-radius: 4px;
}

input::placeholder {
  color: var(--color-placeholder);
}

button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

button:disabled, button:hover{
  background-color: var( --color-lighten);
}

button:disabled{
  cursor: default;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 414px;
  padding: 0 16px;
}

h1 {
  margin-top: 52px;
  margin-bottom: 16px;
  line-height: 36px;
}

.purchase__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 28px;
  width: 100%;
}

.purchase__description {
  font-size: 15px;
  line-height: 24px;
}

.purchase__input-container {
  display: flex;
  justify-content: space-between;
}

.purchase__input {
  width: 310px;
  height: 36px;
  margin-right: 16px;
  padding-left: 8px;
}

.purchase__submit {
  width: 56px;
  height: 36px;
}

.lotto-list__section {
  width: 100%;
}


.lotto-list__header {
  display: flex;
  justify-content: space-between;
}

.lotto-list__description {
  font-size: 15px;
  font-weight: 400;
}

.lotto-list__toggle-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* The toggle - the box around the slider */
.toggle {
  position: absolute;
  display: inline-block;
  bottom: -29px;
  right: 34px;
}

/* Hide default HTML checkbox */
.toggle .lotto-list__toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-unchecked-slide);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3px;
  background-color: var(--color-unchecked-round);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.68);
}

.slider.round {
  border-radius: 34px;
  width: 34px;
  height: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

.lotto-list__toggle-input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: var(--color-primary);
}

.lotto-list__toggle-input:checked + .slider {
  background-color: var(--color-lighten);
}

.lotto-lists {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
}

.lotto-lists.unfold {
  flex-direction: column;
}

.lotto-list {
  display: flex;
  align-items: center;
}

.lotto-list__ticket {
  display: inline-block;
  font-size: 34px;
  margin-right: 8px;
}

.lotto-list__ticket:last-child {
  margin-right: 0;
}

.lotto-list__numbers {
  display: none;
}

.lotto-lists.unfold .lotto-list__numbers {
  display: inline;
}

.winning-numbers__section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.winning-numbers__form{
  width: 100%;  
  margin-top: 10px;
}

.winning-numbers__inputs{
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-row-gap: 12px;
  margin: 8px 0;
}

.winning-numbers__input {
  width: 34px;
  height: 36px;
}

.winning-numbers__button{
  width: 100%;
  margin-top:24px;
  padding: 10px 0;
}

.bonus__label, .bonus-number__input{
  display: flex;
  flex-direction: row-reverse;
}


.winning-numbers__section-display-none,
.lotto-list__section-display-none {
  display: none;
}

.modal {
  display: block;
  position: fixed;
  z-index:1;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color:var( --color-modal-overlay);
}

.modal__contents{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 350px;
  height: 500px;
  background-color: var(--color-white);
  margin:114px auto;
  border-radius: 4px;
  padding: 16px;
}

.modal__close{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  font-size: 20px;
}

.winners-table{
  border-collapse: collapse;
  padding: 8px;
  border-top:1px solid var(--color-table-border);
  border-bottom: 1px solid var(--color-table-border);
  margin-top: 32px;
  margin-bottom: 16px;
}

.winners-table__tr {
  border-top:1px solid var(--color-table-border);
}

.winners-table__tr > td, th {
  padding: 8px;
  text-align: center; 
  vertical-align: middle;
}

.modal__description{
  margin-bottom: 32px;
}

.restart-button{
  width: 152px;
  height: 36px;
  font-weight: bold;
}

.hide{
  display: none;
}