input {
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
  padding: 8px;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#purchase-input {
  width: 310px;
  height: 36px;
}

.prize-number-input,
#bonus-number-input {
  width: 34px;
  height: 36px;
}
