body {
  margin: 0;
}

.width-100 {
  width: 100%;
}

.height-100{
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-column{
  flex-direction: column!important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center{
  align-items: center!important;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}
