#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.lotto-header {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  padding-left: 130px;
  background-color: var(--lotto-primary-color);
  position: fixed;
  top: 0;
}

.lotto-header__title {
  color: var(--lotto-greyscale-1-color);
}

main {
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 727px;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  padding: 16px;
}

footer {
  width: 100%;
  height: 80px;
  font-size: 14px;
  font-weight: 700;
  border-top: solid 1px rgba(78, 91, 166, 0.2);
  color: var(--lotto-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.lotto-purchase__title {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.lotto-purchase__description {
  padding-top: 8px;
}

.lotto-purchase__form {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-top: 4px;
}

.lotto-purchase__input {
  width: 310px;
  height: 36px;
  border: solid 1px var(--lotto-greyscale-3-color);
  border-radius: var(--border-radius);
  padding: 10px;
}

.lotto-purchase__input::placeholder {
  font-size: var(--body-text-size);
  color: var(--lotto-greyscale-4-color);
}

.lotto-purchase__button {
  width: 56px;
  height: 36px;
}

.issued-lotto {
  display: flex;
  flex-direction: column;
  padding: 28px 0;
  gap: 8px;
}

.issued-lotto__description {
  height: 24px;
  display: flex;
  align-items: center;
}

.issued-lotto__list {
  height: 276px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.issued-lotto__list li span:nth-child(1) {
  font-size: 34px;
}

.issued-lotto__item {
  width: 238px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.winning-lotto {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.winning-lotto__description {
  margin: 3px 0 3px 0;
}

.winning-lotto__numbers {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 8px 0;
}

.winning-lotto__form {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.winning-lotto__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winning-lotto__input {
  width: 34px;
  height: 36px;
  border: solid 1px var(--lotto-greyscale-3-color);
  border-radius: var(--border-radius);
}

.winning-lotto__winning-numbers {
  display: flex;
  gap: 8px;
}

.winning-lotto__result-button {
  width: 382px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
