.lotto-match-section {
  margin-top: 32px;
  padding: 0 16px;
  box-sizing: border-box;
}
.lotto-match-section p {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
.lotto-match-header {
  display: flex;
  justify-content: space-between;
}
.lotto-match-header p {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
.number-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.match-number-input {
  width: 34px;
  height: 36px;
}
.match-numbers .match-number-input {
  margin-left: 8px;
}
.match-numbers .match-number-input:first-child {
  margin-left: 0px;
}
#result-button {
  margin-top: 24px;
  width: 100%;
  height: 36px;
}