.purchase_number {
  margin-bottom: 10px;
}

.lotto_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 320px;
  overflow-y: scroll;
}

.lotto_list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.lotto_list li span:nth-child(1) {
  font-size: 34px;
}
