.lotto-list-section {
  margin-top: 28px;
  width: 100%;
}
.lotto-list-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
.lotto-list-header p {
  font-size: 15px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}
.lotto-list-body {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 0 16px 0 12px;
}
.lottos-container {
  width: calc(100% - 70px);
}
.lottos-container .lottos.detail,
.lottos-container.detail .lottos.default {
  display: none;
}
.lottos-container.detail .lottos.detail {
  display: block;
}
.lottos.default {
  display: flex;
  flex-wrap: wrap;
}
.lotto {
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87);
}
.lottos .lotto {
  margin: 0 4px;
}
.lotto-number {
  margin-left: 8px;
  vertical-align: middle;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
.toggle-wrap {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 34px;
  height: 34px;
}
.toggle-wrap input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  height: 14px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.08);
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: -1px;
  bottom: -2px;
  background-color: #ededed;
  transition: 0.4s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}
input:checked + .slider {
  background-color: #80deea;
}
input:checked + .slider:before {
  background-color: #00bcd4;
}
input:checked + .slider:before {
  transform: translateX(15px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}