@import './theme.css';

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 382px;
  height: 590px;
  padding: 32px 16px;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 5px;
  background-color: var(--lotto-greyscale-1);
}

/* main title */
.main__title-wrapper {
  margin: 0;
  padding: 0;
}

.main__title {
  font: var(--lotto-title);
}

/* main purchase input */
.purchase-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 28px 0;
}

.purchase-text {
  font: var(--lotto-body);
}

.purchase-input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font: var(--lotto-body);
}

.purchase-input-box {
  width: 100%;
  height: 36px;
  padding: 0px 0px 0px 8px;
  border-radius: 4px;
  border: 1px solid var(--lotto-greyscale-3);
}

.purchase-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 36px;
  border: 1px solid var(--lotto-primary);
  border-radius: 4px;
  background-color: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
  outline: none;
  cursor: pointer;
}

/* main lottos output */

/* main winning lotto input */
.winning-lotto-container {
  height: 104px;
  font: var(--lotto-body);
  height: 104px;
}

.winning-lotto {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 68px;
}

.lotto-input-wrapper {
  width: 34px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid var(--lotto-greyscale-3);
  text-align: center;
}

.bonus-lotto-input-container {
  display: flex;
  justify-content: flex-end;
}
