#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 318px;
  height: 428px;
  padding: 40px 16px 32px 16px;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 5px;
  background-color: var(--lotto-greyscale-1);
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
  border: none;
  outline: none;
  background: none;
}

.modal__title {
  height: 24px;
  font: var(--lotto-subtitle);
  margin: 0;
}

.winning-result-table {
  width: 100%;
  border-collapse: collapse;
}

.winning-result-column {
  font: var(--lotto-body);
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 40px;
  padding: 0;
}

.winning-result-table tr:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.head {
  font-weight: 600;
}

.profit-rate-text {
  font: 700 15px/24px Roboto;
  margin: 0;
}

.restart-button {
  width: 100%;
}
