.popup-back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--popup-bg-color);
}

#popup {
  position: absolute;
  width: 350px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
  background: var(--app-bg-color);
  border-radius: 4px;
  overflow: hidden;
}

#popup > h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.15px;
  margin: 30px 0 32px 0;
}

#close-button {
  height: 14px;
  width: 14px;
  left: 320px;
  top: 16px;
  border-radius: 0px;
  color: #323232;
  float: right;
  border: none;
  background: var(--app-bg-color);
  margin: 13px 16px 0 0;
}

table {
  border-collapse: collapse;
  margin: 0 16px;
}

th, td {
  border-top: 2px solid var(--table-line-color);
  border-bottom: 2px solid var(--table-line-color);
  padding: 10px 10px;
}

#result-percent {
  margin: 16px 0 32px 0;
  font-weight: 600;
}

#restart-button {
  width: 152px;
  height: 36px;
  left: 99px;
  top: 415px;
  padding: 6px 6px 6px 8px;
  background: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  color: var(--button-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
}
