#purchased-lotto-container {
  width: 100%;
  min-height: 68px;
  margin-top: 28px;
}

#purchased-lotto-container > div {
  display: flex;
  justify-content: space-between;
}

#purchased-lotto-box {
  width: 310px;
}

#purchased-lotto-box > p {
  margin-bottom: 12px;
}

.purchased-lotto-image {
  font-size: 34px;
  margin-right: 8px;
}

.switch-on .purchased-lotto-item {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding-bottom: 4px;
}

.switch-off {
  display: flex;
  flex-wrap: wrap;
}

.switch-off .purchased-lotto-number {
  display: none;
}
