#purchase-money-container {
  height: 64px;
}

form > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#purchase-money-input {
  width: 290px;
  height: 32px;

  border: 1px solid #8b8b8b;
  border-radius: 4px;

  padding-left: 7px;
  background-color: transparent;
}

#purchase-money-input::placeholder {
  color: #8b8b8b;
}

#purchase-money-button {
  width: 56px;
  height: 36px;

  font-size: 14px;
  color: white;

  background: #00bcd4;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}
