.purchase-section {
  margin-bottom: 20px;
}

.purchase-section__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.purchase-section__input {
  width: 294px;
  height: 36px;
  padding: 0 10px;
  border: solid 1px var(--greyscale-3-color);
  border-radius: var(--border-radius);
}

.purchase-section__button {
  width: 56px;
  height: 36px;
  background-color: var(--lotto-primary-color);
  border: none;
  color: var(--greyscale-1-color);
  border-radius: var(--border-radius);
  padding: 6px, 6px, 6px, 8px;
}

.purchase-section__button:hover,
.purchase-section__button:active {
  background-color: var(--lotto-active-color);
}

.purchase-section__invalid {
  color: red;
  font-size: 12px;
}
