#purchase-money-container {
  height: 64px;
}

form > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#purchase-money-input {
  width: 290px;
  height: 32px;
  border: 1px solid var(--input-color);
  border-radius: 4px;
  padding-left: 7px;
}

#purchase-money-input::placeholder {
  color: var(--input-color);
}

#purchase-money-button {
  width: 56px;
  height: 36px;
  font-size: 14px;
  background: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
}
