:root {
  --primary: #00bcd4;
  --primary-lighten: #80deea;
  --secondary: #b4b4b4;
  --secondary-lighten: #ededed;
  --surface: #212121;
  --white: #ffffff;
  --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
}
