header {
  background: #4e5ba6;
  border-bottom: 1px solid rgba(78, 91, 166, 0.2);
  color: white;
}

label {
  width: 310px;
  height: 24px;
  font-weight: bold;
}

#price-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 6px 6px 8px;

  position: absolute;
  width: 56px;
  height: 36px;
  left: 342px;
  top: 132px;

  background-color: #4e5ba6;
  border-radius: 4px;
  color: white;
}

#winning-lotto {
  position: absolute;
  width: 382px;
  height: 104px;
  left: 16px;
  top: 400px;
}

#winning-numbers {
  position: absolute;
  width: 244px;
  height: 68px;
  left: 16px;
  top: 170px;
}

#bonus-number {
  position: absolute;
  width: 76px;
  height: 68px;
  left: 322px;
  top: 170px;
}

#lotto-btn {
  /* button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 6px 6px 8px;

  position: absolute;
  width: 382px;
  height: 36px;
  left: 16px;
  top: 350px;

  /* lotto-primary */

  background: #4e5ba6;
  border-radius: 4px;
}
