@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

* {
  margin: 0;
}

header {
  height: 64px;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

.header__title {
  position: relative;
  left: 130px;
}

/* TODO: 수직 중앙 정렬 */
.main__container {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 382px;
  height: 727px;
  margin-top: 84px;
  margin-bottom: 84px;
  padding: 40px 16px 0px 16px;
}

/* FIXME: 사용하지 않는 클래스 */
.main__title {
}

.amount-form {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.amount-form__con-label-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* FIXME: 사용하지 않는 클래스 */
.amount-form__label {
}

.amount-form__input {
  height: 36px;
  width: 310px;
  box-sizing: border-box;
}

.amount-form__submit-button {
  border-radius: 4px;
  width: 56px;
  height: 36px;
  align-self: flex-end;
}

.lotto-info {
  margin-top: 16px;
}

/* FIXME: 사용하지 않는 클래스 */
.lotto-info__label {
}

.lotto-info__lotto-list {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.lotto-info__lotto {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* FIXME: 사용하지 않는 클래스 */
.lotto-info__lotto-emoji {
}

/* FIXME: 사용하지 않는 클래스 */
.lotto-info__lotto-numbers {
}

.result-form {
  margin-top: 24px;
}

/* FIXME: 사용하지 않는 클래스 */
.result-form__text {
}

.result-form__con-winning-bonus {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

/* FIXME: 사용하지 않는 클래스 */
.result-form__con-winning-label-input {
}

/* FIXME: 사용하지 않는 클래스 */
.result-form__winning-label {
}

.result-form__winning-inputs {
  display: flex;
  gap: 8px;
}

.result-form__number-input {
  border: 1px solid rgba(180, 180, 180, 1);
  box-sizing: border-box;
  border-radius: 4px;
  width: 34px;
  height: 36px;
  margin-top: 8px;
}

/* FIXME: 사용하지 않는 클래스 */
.result-form__bonus-label {
}

.result-form__con-bonus-label-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.result-form__submit-button {
  margin-top: 27px;
  border-radius: 4px;
  width: 382px;
  height: 36px;
}

.footer__info {
}

.no-arrow::-webkit-inner-spin-button,
.no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrow {
  -moz-appearance: textfield;
}

.text-title {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}

.text-content {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.text-caption {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: center;
}

.text-emoji {
  font-family: 'Roboto';
  font-size: 34px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

.text-input-amount {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.text-input-lotto-number {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.color-white {
  color: rgba(255, 255, 255, 1);
}

.bgcolor-primary {
  background: rgba(78, 91, 166, 1);
}
