body {
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100%;
  height: 36px;

  background: #4e5ba6;
  border-radius: 4px;
  border-color: transparent;

  font-weight: 700;
  font-size: 14px;
  color: white;
  letter-spacing: 1.25px;
}

.normal-font {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 4rem;

  background: #4e5ba6;
  padding-left: 2rem;

  font-size: 13px;
  color: white;
}

.home-wrapper {
  background: #f5f5f5;
  padding: 4rem;
  height: 80vh;
}

.home {
  align-items: center;
  width: 414px;
  height: 680px;

  padding: 20px;
  background: white;
  padding-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.home-title {
  font-weight: 800;
  font-size: 24px;
}

.sub-title {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.money-input-container {
  align-items: center;

  width: 380px;
  margin-bottom: 14px;
}

.money-input {
  width: 190rem;
  height: 30px;

  border: 1px solid #b4b4b4;
  border-radius: 4px;
  margin-right: 15px;
}

.lotto-list-container {
  width: 380px;
  height: 260px;

  margin: 5px 0 10px 0;
  overflow: scroll;
  overflow-x: hidden;
}

.lotto-list-container::-webkit-scrollbar {
  display: none;
}

.lotto-container {
  display: flex;
  align-items: center;
  width: 380px;
  height: 37px;
}

.lotto-image {
  font-size: 34px;
}

.lotto-numbers {
  display: flex;
  align-items: center;

  margin-left: 10px;
}

.number-input-container {
  margin-bottom: 1.5rem;
}

.number-input {
  width: 34px;
  height: 36px;

  border: 1px solid #b4b4b4;
  border-radius: 4px;
  margin-right: 3px;

  font-size: 25px;
  text-align: center;
}

.number-input::-webkit-inner-spin-button,
.money-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dark-home {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.5);
}

.result-modal {
  flex-direction: column;
  width: 320px;
  height: 500px;

  background: #ffffff;
  border-radius: 4px;
  position: relative;
  padding: 0 1rem;
}

.result-title {
  margin: 2.5rem 0 2.5rem 0;

  font-size: 20px;
  font-weight: 600;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 15px;

  background: transparent;
  border: transparent;

  font-size: 20px;
  font-weight: 700;
}

.result-list {
  align-items: center;
  width: 318px;
  height: 1.5rem;

  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.result-list:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.result-part {
  width: 33%;
  text-align: center;

  font-weight: 600;
  font-size: 15px;
}

.result-item {
  width: 33%;

  text-align: center;

  font-weight: 400;
  font-size: 15px;
}

.benefit-container {
  height: 5.5rem;

  font-weight: 700;
  font-size: 15px;
}

.copy-right-wrapper {
  width: 100vw;
  height: 4.5rem;

  background: #f5f5f5;
  border-top: 1px solid rgba(78, 91, 166, 0.2);

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.25px;
  color: #4e5ba6;
}

.invalid {
  border: 2px solid red;
}
