#header-title {
  margin-left: 130px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

#main-contents {
  padding: 0 16px;
  width: 414px;
  height: 80%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 65px auto;
}

#main-contents-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 40px 70px 0 70px;
  height: 5%;
}

#footer-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #4e5ba6;
}
