/* Tables */
table {
  border-spacing: 20px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #4e5ba633;
}

thead tr {
  border-top: 1px solid #4e5ba633;
}

th,
td {
  padding: 10px;
  text-align: center;
}
