label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--surface);
}

span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--surface);
}

.ticket-icon {
  font-size: 34px;
  margin: 0 8px 0 0;
  vertical-align: middle;
}
