:root {
  --lotto-greyscale-1: #ffffff;
  --lotto-greyscale-2: #fcfcfd;
  --lotto-greyscale-3: #b4b4b4;
  --lotto-greyscale-4: #8b8b8b;
  --lotto-greyscale-5: #000000;
  --lotto-primary: #4e5ba6;

  --lotto-title: 800 24px/36px Roboto;
  --lotto-subtitle: 600 20px/24px Roboto;
  --lotto-body: 400 15px/24px Roboto;
  --lotto-placeholder: 400 15px/24px Roboto;
  --lotto-caption: 700 14px/16px Roboto;
}
