#toggle-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 15px;
}

#toggle-box label {
  margin-top: 13px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
  vertical-align: middle;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.08);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  bottom: -2px;
  background: rgba(0, 0, 0, 0.15);

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #80deea;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);

  background-color: #00bcd4;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
