.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-lighten);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 0;
  bottom: -2px;
  background-color: var(--secondary-lighten);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: var(--box-shadow);
}

input:checked + .slider {
  background-color: var(--primary-lighten);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-lighten);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: var(--primary-lighten);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
