/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  margin-top: 15px;
}

.switch.hide {
  display: none;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: -1px;
  bottom: -3px;
  background-color: #ededed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background-color: #80deea;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background-color: #00bcd4;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
