#winningLotto {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#winningform_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#winningLotto_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input_winningNumber {
  width: 36px;
  height: 36px;
  padding: 0 10px;
  border: solid 1px var(--greyscale-3-color);
  border-radius: var(--border-radius);
}

#input_bonusNumber {
  width: 36px;
  height: 36px;
  padding: 0 10px;
  border: solid 1px var(--greyscale-3-color);
  border-radius: var(--border-radius);
}

#result_button {
  width: 100%;
  height: 36px;
  background-color: var(--lotto-primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  margin: 20px 0px;
}
#result_button:hover,
#result_button:active {
  background-color: var(--lotto-active-color);
}

#invalid_winningLotto {
  color: red;
  font-size: 12px;
}
