#winning-number-container {
  margin-top: 32px;
}

#winning-number-container p {
  padding-bottom: 8px;
}

#bonus-number-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.winning-number-input {
  width: 34px;
  height: 36px;

  box-sizing: border-box;
  border: 1px solid #b4b4b4;
  border-radius: 4px;

  margin-right: 5px;
}

#bonus-number-box .winning-number-input {
  margin-right: 0;
}

#result-button {
  width: 100%;

  background: #00bcd4;
  border: none;
  border-radius: 4px;

  color: #ffffff;
  font-weight: bold;

  margin-top: 24px;
  padding: 10px 0;

  cursor: pointer;
}
