button {
  background-color: var(--lotto-primary-color);
  color: var(--lotto-greyScale1-color);
  padding: 6px 6px 6px 8px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

button:disabled {
  background-color: var(--lotto-greyScale3-color);
}

input {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--lotto-greyScale3-color);
}

.hidden {
  display: none;
}

.errorMessage {
  height: 20px;
  margin: 5px 0;
  font-size: var(lotto-caption-fontSize);
  font-weight: var(lotto-caption-fontWeight);
  line-height: var(lotto-caption-lineHeight);
  color: rgb(236, 84, 84);
}

.shadow {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
