@import './_common.css';

.explanation {
  z-index: 1;
  width: fit-content;
}

.explanation:hover {
  .rule {
    display: block;
  }
}

.rule {
  display: none;
  position: absolute;
  top: calc(17px + 7px);
  right: 0;
  background-color: var(--lotto-greyScale1-color);
  max-width: 600px;
  min-width: 300px;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;

  li {
    list-style: circle;
    margin-left: 16px;
  }
}

.icon-toggle-rule {
  font-size: 14px;
}

.payment-amount__explanation .rule {
  right: 16px;
}

@media screen and (max-width: 425px) {
  .rule {
    right: 15px;
  }
}
