:root {
  --lotto-primary-color: #4e5ba6;
  --lotto-primary-color-rgb: 78, 91, 166;
  --lotto-greyScale1-color: #ffffff;
  --lotto-greyScale2-color: #fcfcfd;
  --lotto-greyScale3-color: #b4b4b4;
  --lotto-greyScale4-color: #8b8b8b;
  --lotto-greyScale5-color: #000000;
  --lotto-greyScale5-color-rgb: 0, 0, 0;
  --lotto-fontFamily: 'Roboto';
  --lotto-title-fontWeight: 800;
  --lotto-title-fontSize: 24px;
  --lotto-title-lineHeight: 36px;
  --lotto-subtitle-fontWeight: 600;
  --lotto-subtitle-fontSize: 20px;
  --lotto-subtitle-lineHeight: 24px;
  --lotto-bodyAndPlaceholder-fontWeight: 400;
  --lotto-bodyAndPlaceholder-fontSize: 15px;
  --lotto-bodyAndPlaceholder-lineHeight: 24px;
  --lotto-caption-fontWeight: 700;
  --lotto-caption-fontSize: 14px;
  --lotto-caption-lineHeight: 16px;
  --lotto-table-line-color: rgba(var(--lotto-greyScale5-color-rgb), 12%);
  --contents-width: 420px;
  --contents-small-mobile-width: 360px;
}
