body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfd;
}

#app {
  width: 100vw;
  /* height: 1024px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
