#lotto-head {
  display: flex;
  align-items: center;
  margin: 0;
  background: var(--lotto-primary);
  width: 100%;
  height: 64px;
}

#lotto-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  width: 100%;
  height: 100%;
}

#lotto-content {
  top: 148px;
  left: 513px;
  border: 2px solid var(--border1);
  border-radius: 4px;
  width: 414px;
  height: 727px;
  /* 여기에 해야하네! */
  overflow: auto;
}

#lotto-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(78, 91, 166, 0.2);
  width: 100%;
  height: 80px;
  color: var(--lotto-primary);
}

#lotto-title {
  display: inline-block;
  margin-left: 130px;
  color: var(--lotto-greyscale-1);
  text-align: left;
}

#lotto-content-title {
  padding: 40px 16px;
}

#money-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 16px;
  width: 382px;
}

#money-input {
  gap: 10px;
  box-sizing: border-box;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 4px;
  padding: 8px 8px 4px 8px;
  width: 310px;
  height: 36px;
}

#money-button {
  width: 86px;
  height: 36px;
}

#money-button:disabled {
  cursor: default;
  background: var(--lotto-greyscale-3);
}

.content-message {
  margin-top: 28px;
  color: var(--lotto-greyscale-5);
}

#lotto-count-message-container {
  padding: 0px 16px;
}

#lottos-container {
  padding: 0px 16px;
}

#lotto-ticket {
  display: flex;
  align-items: center;
}

#lotto-numbers {
  margin-left: 8px;
}

#winning-lotto-container {
  padding: 0px 16px;
}

#winning-lotto-message-container {
  display: flex;
  justify-content: space-between;
}

#number-form {
  margin-top: 8px;
}

#number-form-container {
  display: flex;
  justify-content: space-between;
}

#winning-lotto-inputs {
  display: flex;
  gap: 8px;
  margin-bottom: 27px;
  width: 244px;
}

.number-input {
  display: block;
  gap: 10px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 4px;
  padding: 8px 8px 4px 8px;
  width: 34px;
  height: 36px;
}

#number-button {
  width: 382px;
  height: 36px;
  color: var(--lotto-greyscale-1);
}
