#modalContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalResultContainer {
  width: 350px;
  height: 500px;
  background: #ffffff;
  border-radius: 4px;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.modalResultTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
}

table {
  width: 100%;
  height: 247px;
}

table > tr:last-child {
  border-bottom: 1px solid #0000001f;
}

tr {
  display: flex;
  border-top: 1px solid #0000001f;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

th,
td {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 33%;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

th {
  font-weight: 600;
}

td {
  font-weight: 400;
}

.rateOfIncomeResultContainer {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

#modalRetryButton {
  width: 100%;
  height: 36px;
  background: #4e5ba6;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: #ffffff;
}

.modalCloseButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #ffffff;
  font-size: 16px;
}
