table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: center;
}
tr {
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
}
#modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#modal {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px;
}

#modal__close-btn {
  width: 100%;
  border: none;
  background-color: var(--white-color);
  text-align: right;
}

#modal__retry-btn {
  padding: 10px;
  width: 100%;
  margin-left: 5px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: var(--white-color);
}
