.random-lottos {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 0 2rem 0;
  overflow: auto;
}

.random-lotto-list {
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 2.25rem;
  display: flex;
  align-items: center;
}

.lotto-list-p {
  padding: 0.2rem;
  font-size: 0.9375rem;
}