@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto';
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
