@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body {
	margin: 0;
}

#app-root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
	background-color: #FCFCFD;
	font-family : 'Roboto', 'sans-serif';
}

#header-container {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100vw;
	height: 64px;
	background-color: #4E5BA6;
	border-bottom: 1px solid rgba(78, 91, 166, 0.2);
}

#top-navigation-wrap {
	width: 150px;
	text-align: center;
	margin-left: 130px;
}

#header-button {
	border: none;
	background: transparent;
	cursor: pointer;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	color: white;
}

#page-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

#app-container {
	background-color: white;
	width: 360px;
	height: 600px;
	border: 1px solid #E0E0E0;
}

#app-contents {
	height: 100%;
	margin: 10px;
}

#app-title-container {
	text-align: center;
	margin: 40px 0 22px 0;
}

#app-main-container {
	font-size: 14px;
	font-weight: 350;
	letter-spacing: 1px;
}

#price-container {
	display: flex;
	flex-direction: column;
}

#price-container > label {
	margin: 0 0 5px 0;
}

#price-form {
	display: flex;
	justify-content: space-between;
}

#price-input {
	width: 100%;
	border: 1px solid #B4B4B4;
	border-radius: 4px;
	text-indent: 5px;
}

#price-button {
	width: 50px;
	height: 30px;
	background-color: #4E5BA6;
	color: white;
	border: 1px solid;
	border-radius: 4px;
	margin: 0 0 0 10px;
	cursor: pointer
}

#lottos-container {
	display: flex;
	flex-direction: column;
	height: 300px;
}

#lottos-amount {
	margin-top: 30px;
}

#lottos {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	height: 100%;
	overflow-y: auto;
}

#lottos #ticket {
	display: flex;
	align-items: center;
}

#lotto-emoji {
	font-size: 30px;
	margin-right: 10px;
}

#footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #4E5BA6;
	height: 80px;
	border-top: 1px solid rgba(78, 91, 166, 0.2);
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.25px;
}
