@import "reset.css";

:root {
  --lotto-primary: #4E5BA6;
  --lotto-primary-opacity-20: #4E5BA633;
  --lotto-greyscale-1: #FFFFFF;
  --lotto-greyscale-2: #FCFCFD;
  --lotto-greyscale-3: #B4B4B4;
  --lotto-greyscale-4: #8B8B8B;
  --lotto-greyscale-5: #000000;
  --lotto-greyscale-5-opacity-12: #0000001F;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


html {
  display: flex;
  width:max-content;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

title{
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

caption{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: left;
}

.title {
  display: flex;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  color: var(--lotto-greyscale-1);
  background-color: var(--lotto-primary);
  padding: 1rem;

  width: 100vw;
  height: 30px;
}

.main-container {
  background-color: var(--lotto-greyscale-2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: max-content;
  min-height: calc(100vh - 160px);
}

.game-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 4px;
  padding: 16px;
  width: 350px;
  height: 600px;
  position: relative;
  gap: 10px;
}

#game-title {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  align-items: center;
  margin: 20px;
}

#game-money-input-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  min-height: 85px;
}

#game-money-input-information {
  display: flex;
  color: var(--lotto-greyscale-5);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

#game-money-input-interaction {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#game-money-input-form{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 20px;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid var(--lotto-greyscale-3);
  border-radius: 4px;
}

#game-money-input-form::placeholder{
  color: var(--lotto-greyscale-4);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  display: flex;
  height: 24px;
  padding-right: 265px;
  align-items: center;
  flex: 1 0 0;
}

.purchase{
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-style: solid;
  border: none;
}

#game-generatedlotto-container {
  display: flex;
  flex-direction: column;
}

#game-generatedlotto-count {
  display: flex;
  width: 310px;
  height: 24px;
  padding-right: 145px;
  align-items: center;
  color: var(--lotto-greyscale-5);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 10px;
} 

#game-generatedlotto-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 5px;
  height: 300px;
  overflow-y: scroll;
  
}

#game-winninglotto-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#game-winninglotto-input {
  display: flex;
  flex-direction: row;
  gap: 93px;
}

#game-winninglotto-input-numbers {
  display: flex;
  flex-direction: column;
}

#game-winninglotto-input-numbers-information {
  display: flex;
}

#game-winninglotto-input-bonus {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#game-winninglotto-input-bonus-information {
  display: flex;
}

.number-input-interaction {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--lotto-greyscale-3);
  background: var(--lotto-greyscale-1);
  width: 15px;
}

.result-button-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.result-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  height: 30px;
  border:none;
  color: var(--lotto-greyscale-1);
  background: var(--lotto-primary);
  font-weight: 700;
}

.result-window{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.result-popup-container {
  display: flex;
  background-color: var(--lotto-greyscale-5-opacity-12);
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.result-popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 430px;
  background-color: var(--lotto-greyscale-1);
  border-radius: 4px;
}

.result-popup-close{
  display: flex;
  width: 100%;
  justify-content: right;
}

.button-close{
  border: none;
  background:none;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 10px 5px 5px;
}

.result-popup-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20px;
}

.result-winning-list {
  display: flex;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

table, td, tr {
  border-top: 1px solid var(--lotto-greyscale-5-opacity-12);
  border-bottom: 1px solid var(--lotto-greyscale-5-opacity-12);
  width: 300px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

th, td {
  border-top: 1px solid var(--lotto-greyscale-5-opacity-12);
  vertical-align: middle;
}

th {
  font-weight: 600;
  line-height: 24px;
}

#result-profit-rate{
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.button-restart{
  width: 90%;
  border: none;
  border-radius: 4px;
  background-color: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;

}

.footer-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  border-top: 1px solid var(--lotto-primary-opacity-20);
}

.footer-text {
  display: flex;
  color: var(--lotto-primary);
  font-size: 14px;
  font-weight: 700;
}

.hidden {
  display: none;
}