:root {
  --lotto-primary: #4E5BA6;
  --lotto-primary-opacity-20: #4E5BA633;
  --lotto-greyscale-1: #FFFFFF;
  --lotto-greyscale-2: #FCFCFD;
  --lotto-greyscale-3: #B4B4B4;
  --lotto-greyscale-4: #8B8B8B;
  --lotto-greyscale-5: #000000;
  --lotto-greyscale-5-opacity-12: #0000001F;
}
