<style>
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--main-secondary-text-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 0.9375rem;
    font-weight: 400;
    text-align: inherit;
  }

  input::placeholder {
    color: #8B8B8B;
  }

  p {
    position: absolute;
    margin: 0;
    margin-left: 0.2rem;
    font-size: var(--typography-caption-font-size);
    color: red;
  }

  :host {
    position: relative;
  }

  :host:after {
    content: attr(data-error-message);
    position: absolute;
    left: 4px;
    font-size: var(--typography-caption-font-size);
    color: red;
    white-space: nowrap;
  }

</style>

<div>
  <input id="input" type="{type}" min="{min}" max="{max}" step="{step}" placeholder="{placeholder}" autocomplete="off">
</div>
