.purchase-price-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}

.purchase-input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--greyscale-3);
  border-radius: 4px;
}

.purchase-button {
  width: 56px;
  background-color: var(--primary);
  color: var(--white-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.purchase-input:disabled,
.purchase-button:disabled {
  cursor: not-allowed;
  background-color: var(--greyscale-3);
}
