.lottos-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 24px;
}

.lotto-tickets {
  display: flex;
  flex-direction: column;
  height: 195px;
  gap: 8px;
  overflow: auto;
}
