footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #b4b4b4;
  color: #4e5ba6;
  font-size: 14px;
  font-weight: bold;
  flex-shrink: 0;
}
