:root {
  --body-background-color: #f9f9f9;
  --button-background-color: #00bcd4;
  --button-font-color: #fff;
  --app-background-color: #fff;
  --lotto-price-input-border-color: #b4b4b4;
  --onoff-switch-background-color: rgba(33, 33, 33, 0.08);
  --onoff-switch-before-background-color: #f8f8f8;
  --onoff-switch-before-box-shadow-color: rgba(0, 0, 0, 0.14);
  --toggle-button-background-color: #80deea;
  --app-border-color: rgba(0, 0, 0, 0.12);
  --table-border-color: #DCDCDC;
}