@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  --lotto-primary: #4e5ba6;
  --lotto-primary-alpha: hsla(231, 36.1%, 47.8%, 0.2);
  --lotto-greyscale-1: #ffffff;
  --lotto-greyscale-2: #fcfcfd;
  --lotto-greyscale-3: #b4b4b4;
  --lotto-greyscale-4: #8b8b8b;
  --lotto-greyscale-5: #000000;
  --lotto-greyscale-5-alpha: #0000001f;
}

#app {
}

.header a {
  cursor: pointer;
}

#modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  z-index: 10;
}

#modalBackground.show {
  opacity: 1;
  visibility: visible;
}

.result-container {
  margin-top: 28px;
}

#resultContainer {
  display: none;
}

#resultContainer.show {
  display: block;
}

.modal-box {
  width: 350px;
  height: 500px;
  margin: 47px 16px 29px;
  padding: 16px 16px;
  border-radius: 4px;
  background-color: #fff;
  z-index: 99;
}

.close-modal-btn-box {
  display: flex;
  justify-content: flex-end;
}

.close-modal-btn {
  cursor: pointer;
}

.modal-box .modal-content h2 {
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.modal-box table {
  width: 100%;
  margin-top: 33px;
  border-top: 1px solid var(--lotto-greyscale-5-alpha);
  border-bottom: 1px solid var(--lotto-greyscale-5-alpha);
}
.modal-box table tr {
  height: 40px;
}

.modal-box table th {
  font-size: 15px;
  font-weight: 600;
  line-heigth: 24px;
  text-align: center;
}

.modal-box .modal-table-1th {
  width: 96px;
}

.modal-box .modal-table-2th {
  width: 134px;
}

.modal-box .modal-table-3th {
  width: 72px;
}

.modal-box table td {
  width: 23px;
  height: 24px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;
  border-top: 1px solid var(--lotto-greyscale-5-alpha);
}

.modal-box p {
  margin-top: 32px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: var(--lotto-greyscale-5);
}

.modal-box button {
  width: 100%;
  height: 36px;
  text-align: center;
  border-radius: 4px;
  margin-top: 32px;
  color: var(--lotto-greyscale-1);
  background-color: var(--lotto-primary);
}

.header {
  width: 100%;
  height: 64px;
  position: sticky;
  top: 0;
  background-color: var(--lotto-primary);
}

.header nav {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.header nav h1 a {
  margin-left: 130px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
}
/* 


container

 */

.container {
  width: 100%;
  min-height: calc(100vh - 144px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 80px;
  //overflow: auto;
}

.lotto-box {
  width: 414px;
  display: flex;
  flex-direction: column;
  padding: 40px 16px 32px;
  border-radius: 4px;
  border: solid 1px var(--lotto-greyscale-5-alpha);
  background-color: #fff;
}

.lotto-box label {
  margin-bottom: 4px;
  color: var(--lotto-greyscale-5);
}

.lotto-box h1 {
  text-align: center;
  margin-bottom: 28px;
}

.price-form .price-field {
  display: flex;
  justify-content: space-between;
}

.price-form .price {
  width: calc(100% - 72px);
  height: 36px;
  font-size: 15px;
  padding-left: 8px;
  border-radius: 4px;
  border: solid 1px var(--lotto-greyscale-3);
}

.price-form .price:focus {
  border: solid 2px var(--lotto-primary);
}
.price-form .price:disabled {
  background-color: rgb(230, 230, 230);
  cursor: not-allowed;
}

.price-form .btn-buy {
  width: 56px;
  height: 36px;
  text-align: center;
  font-weight: bold;
  margin-left: 16px;
  border-radius: 4px;
  background-color: var(--lotto-primary);
  color: #ffffff;
}

.price-form .btn-buy:hover {
  background-color: rgb(55, 66, 122);
  transition: background-color 0.2s ease-in-out;
}

.price-form .btn-buy:disabled {
  background-color: var(--lotto-greyscale-3);
  color: var(--lotto-greyscale-1);
  cursor: not-allowed;
}

.price-form {
  display: flex;
  flex-direction: column;
}

#priceErrorInfo {
  display: block;
}

#priceErrorInfo.show {
  display: block;
}

#priceErrorInfo.hidden {
  visibility: hidden;
}

.error-info-ul {
  margin-top: 10px;
}
.error-info-ul li {
  color: rgb(97, 97, 97);
  display: flex;
  align-items: flex-start;
}

.error-info-ul li span {
  margin-right: 4px;
}

#winningErrorInfo 

/* 

price 시작

 */

.lotto-results-box::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.lotto-results-box::-webkit-scrollbar-thumb {
  width: 16px;
  height: 16px;
  background: var(--lotto-primary-alpha); 
  border-radius: 50px 50px 50px 50px;
}

.lotto-results-box::-webkit-scrollbar-thumb:hover {
  background: var(--lotto-primary);
}

.lotto-results-box::-webkit-scrollbar-track {
  width: 2px;
  height: 2px;
}

.lotto-results-box {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
  display: flex;
  gap: 40px;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
}

.lotto-results-box ul {
  width: 200px;
}

.lotto-results-box ul li {
  width: 200px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}
.lotto-results-box ul li p {
  text-align: center;
  width: 130px;
  background-color: #ffffff;
  border-radius: 4px;
}
.lotto-results-box ul li p:hover {
  background-color: rgb(226, 226, 226);
  transition: background-color 0.3 ease-in-out;
}
.lotto-results-box ul li span {
  font-size: 34px;
  margin-right: 8px;
}
/* 


winning 시작


*/
.winning-bonus-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.winning-bonus-box form {
  display: flex;
  flex-direction: column;
}

.winning-bonus-box input {
  width: 34px;
  height: 36px;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #b4b4b4;
}

.winning-bonus-box input:focus {
  width: 34px;
  height: 36px;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  border: solid 2px var(--lotto-primary);
}

.winning-box div {
  display: flex;
  gap: 8px;
}

.bonus-box div {
  display: flex;
  justify-content: flex-end;
}

.result-form-container .btn-lotto-result {
  width: 100%;
  height: 36px;
  font-weight: bold;
  text-align: center;
  margin: 26px 0 0;
  padding: 6px 6px 6px 8px;
  border-radius: 4px;
  background-color: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
}


/* 



footer


 */

.lotto-results-box ul li {
  margin-bottom: 16px;
}

footer {
  display: block;
  width: 100%;
  height: 80px;
  position: sticky;
  bottom: 0px;
  background-color: var(--lotto-greyscale-1);
  border-top: 1px solid var(--lotto-primary-alpha);
}

footer div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--lotto-primary);
}
