header {
  padding: 14px 130px;
  background: var(--primary);
}

body {
  background-color: var(--gray-2);
}
header > h1 {
  color: var(--gray-1);
}

main {
  padding: 84px 0;
  padding-bottom: 84px;
}
.lotto-box {
  width: 414px;
  min-height: 728px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 16px 32px 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: var(--gray-1);
}

.amount-input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.amount-input {
  display: flex;
  gap: 16px;
}
.amount-input > input {
  display: flex;
  height: 36px;
  padding: 8px;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid var(--gray-3);
  flex-grow: 1;
}

.amount-input > button {
  background: var(--primary);
  padding: 4px 6px;
  border-radius: 4px;
  color: var(--gray-1);
  width: 56px;
}

footer {
  border-top: 1px solid rgba(78, 91, 166, 0.2);
  padding: 24px;
}

footer > p {
  color: var(--primary);
}
