.navBar {
  width: 100%;
  background-color: #4e5ba6;
  color: #ffffff;
  padding: 1.4rem;
  padding-left: 10.6rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 6.8rem auto;
  padding: 3.1rem 1.5rem;
  max-width: 41.4rem;
  border-radius: 0.3rem;
  height: 72.7rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.mainHeader {
  width: 38.2rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  color: #4e5ba6;
  width: 100%;
  height: 8rem;
}
