* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: white;
  position: relative;
  overflow: scroll;
}

.mainCard {
  height: 100vh;
  margin: 0 auto;
}
