.modalCard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalOpen {
  display: flex;
}

.winningStatisticsResultContainer {
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 350px;
  height: 500px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  padding: 15px;
}

.winningStatisticsResultBannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.resultBannerText {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.closeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.tableTitle {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 0;
}

.tableTitle:nth-last-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.titleText {
  font-weight: bold !important;
}

.statisticsText {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.statisticsResultTextContainer {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retrySelectButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retrySelectButton {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  padding: 6px 6px 6px 8px;
  border: none;
  background: #4e5ba6;
  color: #fff;
  cursor: pointer;
}
