.winningLottoFormContainer {
  width: 100%;
}

.winningLottoForm {
  display: flex;
  flex-direction: column;
}

.winningLottoFormBanner {
  margin: 10px 0;
}

.winningLottoLabel {
  margin: 10px 0;
}

.winningLottoNumbersContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.winningLottoWrapper {
  width: 100%;
  display: flex;
}

.winningLottoInput {
  width: 34px;
  height: 36px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(180, 180, 180, 1);
}

.bonusNumberContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.resultButtonContainer {
  width: 100%;
  margin-top: 30px;
}

.resultButton {
  width: 100%;
  padding: 6px 6px 6px 8px;
  background: #4e5ba6;
  color: #fff;
  border-radius: 4px;
  border: none;
  height: 36px;
}
