.result_section {
  margin-top: 28px;
  display: none;
}

.lotto_pack {
  width: 382px;
  height: 300px;
  overflow: scroll;
}

.lotto {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-top: 12px;
}

.winning_number_section {
  width: 382px;
  height: 150px;
  margin-top: 24px;
  display: none;
}

.winning_input_text {
  margin-bottom: 12px;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-medium);
  line-height: 24px;
  letter-spacing: var(--letter-spacing-small);
}
.number_text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.winning_bonus_container {
  display: flex;
  justify-content: space-between;
}
.winning_number_container {
  display: flex;
  gap: 8px;
}

.winning_number_input {
  width: 34px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid var(--secondary-color);
}

.bonus_number_input {
  width: 34px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid var(--secondary-color);
}

.result_check_button {
  width: 382px;
  height: 36px;
  margin-top: 27px;
  border-radius: 4px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
}
