:root {
  --lotto-primary: #4e5ba6;
  --lotto-primary-hover: #6272cd;
  --lotto-primary-active: #414c89;
  --lotto-greyscale-1: #ffffff;
  --lotto-greyscale-2: #fcfcfd;
  --lotto-greyscale-3: #b4b4b4;
  --lotto-greyscale-4: #8b8b8b;
  --lotto-greyscale-5: #000000;
}
.lotto-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;

  color: var(--lotto-greyscale-5);
}
.lotto-subtitle {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: left;

  color: var(--lotto-greyscale-5);
}
.lotto-body {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;

  color: var(--lotto-greyscale-5);
}
.lotto-placeholder {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;

  color: var(--lotto-greyscale-4);
}
.lotto-caption {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: left;

  color: var(--lotto-greyscale-5);
}

html {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;

  background-color: var(--lotto-greyscale-2);
}

lotto-app {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}
