html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

#app {
  box-sizing: border-box;
  min-height: 100%;
}

header {
  top: 0px;
  left: 0px;
  height: 64px;
  background: #4e5ba6;
  border-bottom: 1px solid rgba(78, 91, 166, 0.2);
}

h1 {
  margin: 0px;
  position: absolute;
  width: 147px;
  height: 36px;
  left: 130px;
  top: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

main {
  background: yellowgreen;
  min-height: calc(100% - 144px);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 24px;
}

h2 {
  margin: 10px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
}

section {
  width: 414px;
  padding: 16px;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  padding: 4px;
  width: 310px;
  height: 36px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 6px 6px 6px 8px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #4e5ba6;
  border-radius: 4px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.hidden {
  visibility: hidden;
}

.show {
  display: grid;
}

#lotto-game-container {
  width: 414px;
  height: 666px;
  margin: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 12px;
}

#lotto-purchase-amount-section {
  display: flex;
  flex-direction: column;
  height: 80px;
}

label {
  display: block;
}

#lotto-purchase-amount-input {
  width: 310px;
  height: 36px;
}

#lotto-purchase-amount-button {
  width: 56px;
  height: 36px;
  margin-left: 8px;
}

.error {
  color: red;
}

#lotto-list-section {
  position: static;
  min-height: 320px;
  max-height: 320px;
  overflow: auto;
}

#lotto-item-container {
  overflow: auto;
  min-height: 196px;
}

#winning-lotto-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.winning-numbers-inputs {
  width: 34px;
  height: 36px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

#bonus-number-input {
  width: 34px;
  height: 36px;
  float: right;
}

#check-result-button {
  width: 382px;
  height: 36px;
  margin-top: 12px;
}

dialog {
  padding: 0;
}

#modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-section {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 350px;
  height: auto;
  margin: auto;
  margin-top: 10%;
  border-radius: 4px;
}

#close-icon {
  position: absolute;
  left: 91.43%;
  right: 4.57%;
  top: 3.2%;
  bottom: 94%;
  cursor: pointer;
}

#modal-title {
  width: auto;
}

table {
  width: 319px;
  height: 247px;
  text-align: center;
}

td {
  text-align: center;
}

#retry-button {
  width: 100%;
}

dialog::-webkit-scrollbar {
  display: none;
}

footer {
  height: 80px;
  display: flex;
  border-top: 1px solid rgba(78, 91, 166, 0.2);
}

footer > label {
  margin: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: #4e5ba6;
}
