* {
  /* colors */
  --color-lotto-primary:#4E5BA6;
  --color-lotto-greyscale-1:#FFFFFF;
  --color-lotto-greyscale-2:#FCFCFD;
  --color-lotto-greyscale-3:#B4B4B4;
  --color-lotto-greyscale-4:#8B8B8B;
  --color-lotto-greyscale-5:#000000;
}

