<div>
  <div id="gameBox-header">
    <h2 id="gameBox-title">🎱 내 번호 당첨 확인 🎱</h2>
  </div>

  <form>
    <div id="gameBox-purchaseInput-container">
      <label for="gameBox-price" id="gameBox-label"
        >구입할 금액을 입력해주세요.</label
      >
      <div id="gameBox-purchaseInput">
        <input
          type="text"
          id="gameBox-price"
          placeholder="금액"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = '금액'"
        />
        <button type="submit" id="gameBox-purchaseButton">구입</button>
      </div>
    </div>
  </form>
</div>
