#lotto-header {
  width: 1440px;
  height: 64px;
  border-bottom-width: 1px;
  color: var(--lotto-primary);
}

#lotto-title {
  font-family: Roboto, sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
  color: var(--lotto-greyscale-1);
}
