button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.button-disabled {
    background-color: gray;
}

.button-box {
    width: 100%;
    height: 36px;
    text-align: center;
    background-color: #4E5BA6;
    cursor: pointer;
}

.button-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
}

.button-right {
    position: absolute;
    margin-left: 80%;
    font-size: 25px;
}
