:root {
    --color-primary: #4E5BA6;
    --color-gray-scale-1: #FFFFFF;
    --color-gray-scale-2: #FCFCFD;
    --color-gray-scale-3: #B4B4B4;
    --color-gray-scale-4: #8B8B8B;
    --color-gray-scale-5: #000000;
}