:root {
  --main-color: #4e5ba6;
  --gray-sclae-2: #fcfcfd;
  --gray-sclae-3: #b4b4b4;
  --title-font-size: 24px;
  --title-font-weight: 800;
  --subTitle-font-size: 20px;
  --subTitle-font-weight: 600;
  --body-font-size: 15px;
  --button-font-size: 14px;
  --button-font-weight: 600;
}

body {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-sclae-2);
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: var(--main-color);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  color: white;
}
header h1 {
  margin-left: 80px;
}
.screenHeader {
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
}
.screen {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  height: 80%;

  gap: 32px;
  border: #b4b4b4 2px solid;
  border-radius: 4px;
  font-size: var(--body-font-size);
}
.screen h1 {
  height: 40px;
  margin-top: 20px;
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
}
.priceInputContainer {
  width: 100%;
}

.priceInputContainer .inputAndButton {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-top: 6px;
  height: 36px;
}

.priceInputContainer input {
  width: 100%;
}

.priceInput {
  border-radius: 4px;
  border: 1px solid var(--gray-sclae-3);
  text-indent: 4px;
  font-size: var(--body-font-size);
  padding-top: 6px;
}

.buyButton {
  background-color: var(--main-color);
  color: white;
  border: 0px;
  border-radius: 4px;
  width: 60px;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  cursor: pointer;
}

.buyedLottos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lottosNumbers ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.whenBuyed {
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.lottoInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.enteredNumbers {
  display: flex;
  justify-content: space-between;
}

.enteredLottoNumbers {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bonusNumber {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.winningNumberInput,
.bonusNumberInput {
  border-radius: 4px;
  border: 1px solid var(--gray-sclae-3);
  width: 24px;
  height: 24px;
}

.winningNumberInputs {
  display: flex;
  gap: 8px;
}

.bonusNumberInputContainer {
  display: flex;
  justify-content: flex-end;
}

.checkResult {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 36px;
  color: white;
  border-radius: 4px;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  border-top: var(--gray-sclae-3) 1px solid;
}

dialog {
  font-size: var(--body-font-size);
  width: 350px;
  height: 500px;
  border: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog h3 {
  margin-top: 20px;
  font-size: var(--subTitle-font-size);
  font-weight: var(--subTitle-font-weight);
}
.winningHistory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.gridItem {
  border-bottom: 1px solid var(--gray-sclae-3);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#rate {
  font-size: var(--body-font-size);
  font-weight: var(--subTitle-font-weight);
}

.tableHeader {
  font-weight: var(--subTitle-font-weight);
  border-top: 1px solid var(--gray-sclae-3);
}

#reset {
  background-color: var(--main-color);
  color: white;
  border: 0px;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  cursor: pointer;
}

.lottosNumbers li {
  display: flex;
  gap: 10px;
}

.lottosNumbers .lottoNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
}
