.input-container {
    margin: 20px 0;
}

.input-box {
    display: flex;
    justify-content: space-between;
}

.input-title {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.input-basic {
    width: 100%;
    height: 36px;
    border: 1px solid #B4B4B4;
    padding: 0px;
    border-radius: 0.25rem;
    margin-right: 5px;
}

.input-number {
    position: absolute;
}

.input-winning-number, #input-bonus-number {
    width: 36px;
    height: 34px;
}

.input-container-bonus-number {
    justify-content: end;
}