.lotto-top {
    width: 100%;
    height: 100%;
    margin: 30px 0;
   
}

.lotto-middle {
    width: 100%;
    height: 100%;
    max-height: 500px;
    margin: 30px 0;
    overflow-y: scroll;
}

.lotto-bottom {
    width: 100%;
    height: 100%;
    margin: 30px 0;
}