.price-input {
  width: 100%;
}

.price-input .price-input__controls {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-top: 6px;
  height: 36px;
}

.price-input input {
  width: 100%;
}

.price-input__field {
  border-radius: 4px;
  border: 1px solid var(--gray-sclae-3);
  text-indent: 4px;
  font-size: var(--body-font-size);
  padding-top: 6px;
}

.price-input__button {
  background-color: var(--main-color);
  color: white;
  border: 0px;
  border-radius: 4px;
  width: 60px;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  cursor: pointer;
}
